<?xml version="1.0"?>
<config>
	<modules>
		<Msupply_Cheque>
			<version>1.0.0</version>
		</Msupply_Cheque>
	</modules>
	<global>
		<helpers>
			<cheque>
				<class>Msupply_Cheque_Helper</class>
			</cheque>
		</helpers>
		<blocks>
			<cheque>
				<class>Msupply_Cheque_Block</class>
			</cheque>
		</blocks>
		<models>
			<cheque>
				<class>Msupply_Cheque_Model</class>
				<resourceModel>Cheque_mysql4</resourceModel>
			</cheque>
		</models>
		<resources>
			<cheque_setup>
				<setup>
					<module>Msupply_Cheque</module>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</cheque_setup>
			<cheque_read>
				<connection>
					<use>core_read</use>
				</connection>
			</cheque_read>
			<cheque_write>
				<connection>
					<use>core_write</use>
				</connection>
			</cheque_write>
		</resources>
		<fieldsets>
             <sales_convert_quote_payment>
                <check_no>
                    <to_order_payment>*</to_order_payment>
                </check_no>
                <!--<check_date>
                    <to_order_payment>*</to_order_payment>
                </check_date>
				<draweename>
                    <to_order_payment>*</to_order_payment>
                </draweename>-->
				<draweebank>
                    <to_order_payment>*</to_order_payment>
                </draweebank>
				<!--<cheqloc>
                    <to_order_payment>*</to_order_payment>
                </cheqloc>
				<panno>
                    <to_order_payment>*</to_order_payment>
                </panno>-->
             </sales_convert_quote_payment>
        </fieldsets>
	</global>
	<frontend>
		<layout>
			<updates>
				<cheque>
					<file>cheque.xml</file>
				</cheque>
			</updates>
		</layout>
		<routers>
			<cheque>
				<use>standard</use>
				<args>
					<module>Msupply_Cheque</module>
					<frontName>customcard</frontName>
				</args>
			</cheque>
		</routers>
	</frontend>
	<default>
		<payment>
            <cheque>
                <active>1</active>
                <model>cheque/cheque</model>
                <order_status>processing</order_status>
                <title>Cheque Payment</title>
            </cheque>
		<cheque_checkout>
                <active>1</active>
                <model>cheque/standard</model>
                <order_status>processing</order_status>
                <title>Custom Gateway</title>
				<payment_action>sale</payment_action>
				<submit_url>https://www.google.com</submit_url>
				<merchant_id>Insert merchant id</merchant_id>
				<allowspecific>0</allowspecific>
				<sort_order>1</sort_order>
            </cheque_checkout>
         </payment>
	</default>
</config>
