<?xml version="1.0"?>
<config>
    <modules>
        <Sujoy_Reffer>
            <version>1.0.0</version>
        </Sujoy_Reffer>
    </modules>
    <frontend>
        <routers>
            <reffer>
                <use>standard</use>
                <args>
                    <module>Sujoy_Reffer</module>
                    <frontName>reffer</frontName>
                </args>
            </reffer>
        </routers>
    </frontend>
	<global>
		<!--<models>
            <reffer>
                <class>Sujoy_Reffer_Model</class>
                <resourceModel>reffer</resourceModel>
            </reffer>
			<events>
				<sales_order_place_after>
					<observers>
						<sujoy_reffer_order_observer>
							<type>singleton</type>
							<class>Sujoy_Reffer_Model_Order_Observer</class>
							<method>setReffererToOrder</method>
						</sujoy_reffer_order_observer>
					</observers>
				</sales_order_place_after>
			</events>	
		</models>-->
        <helpers>
            <reffer>
                <class>Sujoy_Reffer_Helper</class>
            </reffer>
        </helpers>
    </global>
</config>
