.main-steel {
    width: 100%;
    float: left;
    background: #ebebeb;
}
.inner-menu {
    margin: 0;
    padding: 0;
}
/** steel productlist page**/

.well-block {
    min-height: 20px;
    padding: 19px;
    margin-bottom: 0.625em;
    background-color: #FFF;
    border: 1px solid #EDEDED;
    float: left;
    width: 100%;
}
.steelheading {
    font-size: 18px;
    color: #444444;
    float: left;
    width: 100%;
}
.wishnew {
    float: left;
    width: 20%;
    text-align: right;
    color: #f5f5f5;
}
.wishnew a {
    border: 1px solid #e9e9e9;
    padding: 4px 7px;
    color: #919191;
}
.stl-img {
    float: left;
    width: 10%;
    clear: both;
}
a.morelink {
    float: left;
    width: 100%;
    text-decoration: underline !important;
    color: #CC8074;
    margin-top: 10px;
}
.morecontent span {
    display: none;
}
.comment {
    width: 88%;
    float: left;
    margin: 0 0px 0px 10px;
    color: #969696;
}
.cbheading {
    font-size: 15px;
    color: #7D7D7D;
    float: left;
    width: 100%;
}
.mcbrand {
    margin: 10px 0;
}
.mcbrand input {
    margin: 0 !important;
    vertical-align: middle;
}
.table > thead > tr > th {
    vertical-align: middle !important;
    ]
}
.mbrandname {
    margin-left: 7px;
    vertical-align: middle;
    color: #f5f5f5;
    color: #8F8F8F;
    font-size: 13px;
}
.sellertable td,
.fitingtable td,
.pipestable td {
    padding: 8px !important;
    text-align: center;
    color: #8F8F8F;
    vertical-align: middle !important
}
.sellertable th {
    padding: 10px !important;
    text-align: center;
    border: medium none !important;
    background: #EEE;
    font-size: 13px;
    font-weight: normal;
    color: #8F8F8F;
}
.pipestable th,
.fitingtable th {
    padding: 10px !important;
    text-align: center;
    border: medium none !important;
    background: #EEE;
    font-size: 13px;
    font-weight: normal;
    color: #8F8F8F;
}
.cust-trh {
    border: 1px solid #eee;
}
.cust-trb {
    border: 1px solid #ddd;
}
.weightmsg {
    font-size: 13px;
    color: #aeaeae;
    margin: 10px 0;
}
.mt1em {
    margin-top: 1em;
}
.bd-img {
    margin: auto;
    cursor: pointer;
}
.sbuynowbtn {
    width: 100%;
    background: #627179;
    border: none;
    padding: 10px;
    color: #fff;
    font-size: 12px;
    text-transform: uppercase;
    text-align: center;
}
.btn_chkbestprice {
background: #49BAB6  none repeat scroll 0% 0%;
border: medium none;
color: #FFF;
font-size: 12px;
padding: 0.625em 0px;
text-align: center;
text-transform: uppercase;
width: 100%;
margin-bottom: 13px;
}
.btn_addplist{
background: #bd4931  none repeat scroll 0% 0%;
border: medium none;
color: #FFF;
font-size: 12px;
padding: 0.625em 0px;
text-align: center;
text-transform: uppercase;
width: 100%;
margin-bottom: 13px;
}
.mt3em {
    margin-top: 3em;
}
.stlyellow {
    color: #fdc005;
}
.mr10 {
    margin-right: 10px;
}
.mt10 {
    margin-top: 10px;
}
.cstldd {
    border-radius: 0px;
    top: 2em !important;
}
.cstldd li {
    padding: 4px 10px !important;
    cursor: pointer;
}
.cstldd li:active,
.cstldd li:hover {
    background: #f5f5f5;
}
.resp-drop .btn {
    font-size: 14px;
    border-radius: 0px;
    padding: 2px 7px;
}
.resp-drop .btn-default:hover {
    background: #fff;
}
.resp-drop .caret {
    margin-left: 8px !important;
}
/** steel page**/

.breadcrumb-block {
    float: left;
    width: 100%;
}
.current-product,
.product-breadcrumb > .active {
    color: #444444;
    font-size: 16px;
    margin: 0 0px 9px;
}
.product-breadcrumb ul li a {
    color: #627179;
}
.buying-guide {
    margin-top: -34px;
}
.buying-guide .v-middle {
    float: right;
}
.navbar .col-lg-3 {
    padding-left: 10px !important;
}
#mainLogo {
    padding: 0px !important;
}
.lazy-image {
    float: right;
    width: 198px;
    height: 199px;
}
.product-breadcrumb > strong {
    color: #444444;
}
.product-breadcrumb li {
    color: #868686;
    font-size: 12px;
}
.product-breadcrumb li span.glyphicon {
    color: #BD4931;
    margin: 0px 5px;
    font-size: 9px;
}
.category-tmt-steel .buyg-txt {
    float: left;
    width: 100%;
    color: #444;
}
.product-breadcrumb {
    font-size: 11px;
}
.product-breadcrumb ul {
    padding: 0;
    margin: 0px;
    margin-bottom: 5px;
}
.breadcrumbs li {
    display: inline;
    margin: 0;
}
.well-tmt {
    background: #fff;
    padding: .625em !important;
    margin: .625em 0;
}
.stl-img img {
    width: 100%;
}
.customzipcode .form-control {
    border-radius: 0px !important;
}
.customzipcode .input-group-addon {
    border-radius: 0px !important;
    background-color: #49bab6 !important;
    color: #fff !important;
    border: none !important;
    padding: 0;
}
.customzipcode .customgo {
    background-color: transparent !important;
    border: 0px solid !important;
    width: 70px;
    height: 40px;
}
.switch_type,
.switch_type1 {
    width: 100%;
    float: left;
    text-align: right;
    font-size: 13px;
    color: #BF4A32;
    margin-top: 15px;
}
.syellowline {
    border-bottom: 2px solid #FFBF00;
    margin: 11px 0;
    width: 40px;
    float: left;
}
.clear {
    clear: both;
}
.pad0 {
    padding: 0px;
}
.mb1em {
    margin-bottom: 1em;
}
.resp-drop {
    display: none;
}
.total-box-resp {
    float: left;
    width: 100%;
}
.tot-repbox {
    margin-bottom: 10px;
    float: left;
    width: 100%;
    background: #9F9F9F none repeat scroll 0% 0%;
    color: #fff;
}
.qtytotal {
    padding: 10px;
    text-align: center;
}
.total-box-resp {
    display: none;
}
.mt1em {
    margin-top: 1em;
}
.csheading {
    font-size: 15px;
    color: #7D7D7D;
    float: left;
    width: 100%;
    text-align: center;
}
.csyellowline {
    border-bottom: 2px solid #FFBF00;
    margin: 11px auto;
    width: 40px;
}
.quantity-box .quantity-controls {
    width: 19px;
    height: 19px;
    background-color: #acacac;
    margin-bottom: 0px;
    background-image: url('../images/plus-minus.png');
    background-repeat: no-repeat;
    padding: 0;
    border: none;
    position: absolute;
    right: 0;
    left: 2;
}
.quantity-box .quantity-controls.quantity-plus {
    background-position: 2px 2px;
    top: 0;
}
.quantity-box .quantity-controls.quantity-minus {
    background-position: 2px -12px;
    top: 20px;
}
.wrap-qty .qty-set .quantity-box {
    border: 1px solid rgb(235, 235, 235);
    display: block;
    margin: 0 auto;
    position: relative;
    width: 73%;
}
.quantity-input.qty {
    height: 38px;
    line-height: 100%;
    border: none;
    text-align: center;
    margin: 0;
    font-size: 14px;
    width: 100%;
}
.customzipcode>input {
    height: 40px !important;
}
.product-breadcrumb img {
    width: 40%;
}
/**csss**/
/** Spinner Loader **/

.spin-wrapper {
    width: 100%;
    height: 100%;
    margin: auto;
    background-color: #000;
    position: absolute;
    opacity: 0.5;
    top: 700px;
    Z-INDEX: 111111;
}
.spinner {
    width: 40px;
    position: absolute;
    height: 40px;
    background-color: #FFF;
    border-radius: 100%;
    -webkit-animation: sk-scaleout 1.0s infinite ease-in-out;
    animation: sk-scaleout 1.0s infinite ease-in-out;
    left: 50%;
    top: 50%;
    z-index: 111111;
}
@-webkit-keyframes sk-scaleout {
    0% {
        -webkit-transform: scale(0)
    }
    100% {
        -webkit-transform: scale(1.0);
        opacity: 0;
    }
}
@keyframes sk-scaleout {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    100% {
        -webkit-transform: scale(1.0);
        transform: scale(1.0);
        opacity: 0;
    }
}
.ui-widget-content {
    border: 1px solid #aaa;
    background: #fff url("../images/ui-bg_flat_75_ffffff_40x100.png") 50% 50% repeat-x;
    color: #222;
}
.ui-dialog .ui-dialog-titlebar {
    padding: .4em 1em;
    position: relative;
}
.ui-dialog .ui-dialog-titlebar-close {
    position: absolute;
    right: .3em;
    top: 17%;
    border: none;
    width: 20px;
    margin: -5px -5px 0 0;
    padding: 1px;
    height: 20px;
    background: url('../images/del-minicart.png') no-repeat top right;
}
.ui-dialog .ui-dialog-content {
    position: relative;
    border: 0;
    padding: .5em 1em;
    background: #fff;
    overflow: auto;
}
ul,
ol {
    list-style: none;
}
.compare_area {
    float: left;
    width: 100%;
}
.compare_area h3 {
    font-size: 15px;
    color: #383736;
    float: left;
    width: 100%;
    padding: 0px 0px 10px;
    background: none;
    text-align: left;
    letter-spacing: 0px;
    text-transform: none;
    margin-bottom: 10px;
    font-weight: 500 !important;
    border-bottom: 1px solid #E4E4E4;
}
.product_content {
    background: #F9F9F9;
    width: auto !important;
    float: left !important;
    border: 1px solid #f5f5f5;
}
.product_content ul {
    width: auto !important;
    padding: 0px !important;
    cursor: pointer;
    float: left;
}
.product_content ul.active {
    background: #f0ece3;
}
.product_content li.heading {
    border-bottom: 1px solid #CCC !important;
    padding: 12px 16px !important;
    font-weight: bold !important;
}
.product_content ul li {
    padding: 10px 17px !important;
    background: none;
    border-bottom: 1px solid #f0ece4;
}
.compare_area select {
    margin-bottom: 30px;
    width: 100%;
}
.product_content {
    clear: both;
    float: left;
    margin-bottom: 30px;
    width: 870px;
}
.product_content ul {
    float: left;
    width: 120px;
}
.product_content li.heading {
    border-bottom: 2px solid #ccc;
    font-weight: bold !important;
    padding: 5px 0;
    height: 50px;
}
.product_content li {
    border-bottom: 1px solid #ccc;
    padding: 6px 0;
    background: #f6f6f6;
}
.all_section .brand ul li {
    background: #fbfbfc;
    border: 1px solid #dfdfdf;
    color: #2e2e2e;
    float: left;
    font-size: 14px;
    margin-bottom: 2px;
    margin-right: 2px;
    padding: 6px 20px;
}
.all_section .brand ul li input[type="radio"] {
    margin-top: 5px;
}
.catalog-category-view .ui-dialog {
    position: fixed;
    height: 325px !important;
    z-index: 11111 !important;
}
.ui-widget-overlay {
    background: #000;
    opacity: .4;
    filter: Alpha(Opacity=40);
}
.ui-widget-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.ui-front {
    z-index: 100;
}
.errmsg {
    font-size: 12px;
    margin-top: 5px;
    color: #BF4A32;
}
.confirmbtn {
    border-radius: 0px !important;
    background-color: #49bab6 !important;
    color: #fff !important;
    border: none !important;
    padding: 8px 10px;
    width: 100px;
    margin-bottom: 1em;
}
.mb2em {
    margin-bottom: 2em;
}
.brandul-head .heading {
    background: #D2D2D2 !important;
}
.brand_list_popup .heading {
    background: #D2D2D2 !important;
}
.brandul-head .footer {
    background: #D2D2D2 !important;
}
.brand_list_popup .footer {
    background: #D2D2D2 !important;
}
.gplus {
    font-size: 26px;
    color: #d34836;
    margin-right: 5px;
}
.fbshare {
    font-size: 26px;
    color: #3b5998;
    margin-right: 5px;
}
.pinshare {
    font-size: 26px;
    color: #c8232c;
    margin-right: 5px;
}
.twiitershare {
    font-size: 26px;
    color: #4099FF;
    margin-right: 5px;
}
.sharepdt span {
    color: #FDC005;
    font-size: 15px;
}
.sharepdt .fa-share-alt {
    margin-right: 10px;
}
.well-block-share {
    padding: 19px;
    margin-bottom: 20px;
    background-color: #FFF;
    border: 1px solid #EDEDED;
    float: left;
    width: 100%;
    min-height: 315px;
}
.sellermsg {
    font-size: 13px;
    color: #AEAEAE;
    margin: 10px 0px;
    position: absolute;
    right: 0px;
    top: -56px;
}
.slrmsg {
    font-size: 13px;
    color: #BD4931;
    margin: 10px 0px;
}
.rating {
    display: inline-block;
    height: 19px;
    padding: 0px;
    position: relative;
    text-align: right;
    vertical-align: top;
    width: 87px;
}
.rating .ratingblank {
    display: inline-block;
    height: 19px;
    left: 0px;
    position: absolute;
    text-indent: -9999em;
    top: 0px;
    width: 100%;
    z-index: 1002;
    background: transparent url("../images/skustar.png") no-repeat scroll 0px 0px;
}
.selectvendor.tick {
    border: none;
    background: url('../images/tick.png') no-repeat !important;
    padding: 10px;
    position: relative;
    left: 17px;
}
.selectvendor {
    border: none;
    padding: 10px;
    background: #BF4A32;
    color: #fff;
}
.steeltable td {
    vertical-align: middle !important;
}
/*** faqs***/

#faqs h2 {
    text-align: center;
    font-size: 20px;
}
#faqs hr {
    width: 5%;
    border-bottom: 2px solid #ffbd00;
    text-align: center;
    position: relative;
    left: 47%;
    top: -10px;
    float: left;
}
#faqs .modal-dialog {
    width: 750px;
    margin: 12em auto
}
#faqs .modal-content {
    padding: 20px;
    overflow-x: scroll;
    height: 600px;
}
.close-x {
    color: #49bab6;
    position: relative;
    float: right;
    top: -3px;
    right: -32px;
    font-size: 17px;
}
.pop-section {
    margin-top: 35px;
    clear: both;
}
.pop-section p {
    color: #444;
    line-height: 22px;
    margin-bottom: 10px;
    margin-top: 15px;
}
.pop-section .color-blue {
    color: #49bab6;
}
.custom-cq-radio {
    float: left;
    margin: 3px 8px;
}
/** loader**/

a.compare_brand:hover {
    color: #fff;
}
.spin-wrapper {
    width: 100%;
    float: left;
    height: 200%;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #000;
    position: fixed;
    opacity: 0.5;
    z-index: 111111;
}
.spinner {
    width: 40px;
    position: fixed;
    height: 40px;
    background-color: #FFF;
    border-radius: 100%;
    -webkit-animation: sk-scaleout 1.0s infinite ease-in-out;
    animation: sk-scaleout 1.0s infinite ease-in-out;
    left: 50%;
    top: 50%;
    z-index: 111111;
}
@-webkit-keyframes sk-scaleout {
    0% {
        -webkit-transform: scale(0)
    }
    100% {
        -webkit-transform: scale(1.0);
        opacity: 0;
    }
}
@keyframes sk-scaleout {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    100% {
        -webkit-transform: scale(1.0);
        transform: scale(1.0);
        opacity: 0;
    }
}
@media(min-width:0px)and (max-width:1500px) {
    .category-tmt-steel .wrapper-main-steel {
        width: 100% !important;
    }
}
.category-tmt-steel .table-condensed .dropdown {
    display: inline-block !important;
}
.lnkScrollUp {
    width: 48px;
    height: 48px;
    position: fixed;
    bottom: 50px;
    right: 10px !important;
    right: 100px;
    display: none;
    text-indent: -9999px;
    background: url('../images/scroll_up.png') no-repeat;
}
.wid100 {
    float: left;
    width: 100%;
    clear: both;
}
/***hone page faqs***/

.homepagefaq h2 {
    text-align: center;
    font-size: 20px;
}
.homepagefaq hr {
    width: 5%;
    border-bottom: 2px solid #ffbd00;
    text-align: center;
    position: relative;
    left: 47%;
    top: -10px;
    float: left;
}
.homepagefaq .modal-dialog {
    width: 750px;
    margin: 12em auto
}
.homepagefaq .modal-content {
    padding: 20px;
    overflow-x: scroll;
    height: 600px;
}
.close-x {
    color: #49bab6;
    position: relative;
    float: right;
    top: -3px;
    right: -32px;
    font-size: 17px;
}
.homepagefaq .pop-section {
    margin-top: 35px;
    clear: both;
}
.homepagefaq .pop-section p {
    color: #444;
    line-height: 22px;
    margin-bottom: 30px;
    margin-top: 10px;
}
.homepagefaq .pop-section .color-blue {
    color: #49BAB6;
    padding: 0 !important;
    background: none !important;
    float: none !important;
    width: 100% !important;
}
.steelmttable th {
    vertical-align: middle !important;
}
.steelmttable > thead th {
    color: #637078 !important;
}
.steelbntable > thead th {
    color: #637078 !important;
}
.steeltable > thead th {
    color: #637078 !important;
}
.steelmttable > tbody th {
    color: #444;
    font-weight: bold;
}
.steelbntable > tbody th {
    color: #444;
    font-weight: bold;
}
.pop-section .table-bordered > thead > tr > th {
    border: 6px solid #FFF !important;
    font-size: 12px;
    background: #555 none repeat scroll 0% 0%;
    color: #FFF;
}
.pop-section .table-bordered > tbody > tr > td {
    border: 6px solid #FFF !important;
    background: #F5F5F5 none repeat scroll 0% 0%;
    font-size: 12px;
    font-weight: normal;
    color: #555;
}
.pop-section li {
    list-style: outside none circle !important;
    margin-left: 15px;
    color: #999;
}
* {
    padding: 0px;
    margin: 0px;
}
.totalseller {
    cursor: pointer;
}
.catalog-category-view .recent-viewd,
.related-hdr {
    text-align: center;
    padding-top: 15px;
    color: #7D7D7D;
    margin-bottom: 0;
}
.related-hdr {
    background-color: #fff;
}
.Recently_Viewed,
.block-related {
    float: left;
    width: 100%;
    list-style: none;
    background-color: #FFF;
    margin-bottom: 20px;
}
.Recently_Viewed li,
.block-related li {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 0px;
    background-color: #FFF;
    position: relative;
    float: left;
    list-style: outside none none;
}
.Recently_Viewed li:focus,
.Recently_Viewed li:hover,
.block-related li:focus,
.block-related li:hover {
    box-shadow: 0px 0px 10px 0px #888;
}
.block-content .divider,
.Recently_Viewed .divider {
    margin-left: 28px;
    margin-right: 15px;
    border: none;
}
.Recently_Viewed li div:nth-child(2),
.block-related li div:nth-child(2) {
    height: 50px !important;
    padding: 10px;
    border-top: 1px solid #EEE;
    font-size: 12px;
    line-height: 1.5;
    text-align: left;
    color: #637078;
    text-align: left;
    padding-left: 20px;
}
.Recently_Viewed .wishlist_price,
.block-related .wishlist_price {
    text-align: left;
    padding-left: 20px;
    height: 30px;
    font-weight: 700;
}
.Recently_Viewed li.last,
.block-related li.last {
    float: left;
    margin-right: 0px;
}
.Recently_Viewed .price,
.block-related .price {
    font-size: 12px;
}
.Recently_Viewed .wishlist_price .old-price > span,
.block-related .wishlist_price .old-price > span {
    font-size: 12px;
}
.wishlist_price .old-price {
    color: #BD4931;
    text-decoration: line-through;
    margin-right: 5px;
}
.product-breadcrumb ul {
    padding: 0;
    margin-bottom: 0;
}
.customlpad4 {
    padding-left: 4px !important;
}
.customrpad5 {
    padding-right: 5px !important;
}
.ml5 {
    margin-left: 5px;
}
.threedots {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.btn_padd {
    padding: 4px 10px;
    margin-bottom: 0px;
    font-size: 12px;
    font-weight: bold;
    line-height: 1.42857;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -moz-user-select: none;
    background-image: none;
    border: 1px solid #ccc;
    color: #8F8F8F;
    background-color: #f5f5f5;
    width: 90%;
}
.btn_pupdate {
    padding: 4px 10px;
    margin-bottom: 0px;
    font-size: 12px;
    font-weight: bold;
    line-height: 1.42857;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -moz-user-select: none;
    background-image: none;
    border: none;
    color: #FFF;
    background-color: #49BAB6;
    width: 90%;
    height: 40px;
}
/*	
.btn_pupdate {
    padding: 4px 10px;
    margin-bottom: 0px;
    font-size: 12px;
    font-weight: bold;
    line-height: 1.42857;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -moz-user-select: none;
    background-image: none;
    border: none;
    color: #FFF;
    background-color: #49BAB6;
    width: 90%;
    height: 40px;
}
.btn_ptype {
    padding: 6px 0px;
    margin-bottom: 0px;
    font-size: 12px;
    font-weight: bold;
    line-height: 1.42857;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -moz-user-select: none;
    background-image: none;
    border: 1px solid #ccc;
    color: #8F8F8F;
    background-color: #f5f5f5;
    width: 100%;
    height: 32px;
}*/

.btn_ptype {
	padding: 6px 45px;
	margin-bottom: 0px;
	font-size: 12px;
	font-weight: bold;
	line-height: 1.42857;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	cursor: pointer;
	-moz-user-select: none;
	background-image: none;
	border: 1px solid #CCC;
	color: #8F8F8F;
	background-color: #F5F5F5;
	height: 32px;
	float: left;
	margin-bottom:10px;
}
.btn_ptype:focus , .btn_ptype:active {
    padding: 6px 45px;
    margin-bottom: 0px;
    font-size: 12px;
    font-weight: bold;
    line-height: 1.42857;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -moz-user-select: none;
    background-image: none;
    border-bottom: 2px solid #ffaf15;
    color: #444;
    background-color: #fff;
    float: left;
	margin-bottom:10px;
}
.m1em0 {
    margin: 1em 0;
}
.cinfo {
    font-size: 22px;
    color: #ffaf15;
}
.cqtn {
    font-size: 22px;
}
.pdt-rthead {
    background: #f8f8f8;
    padding: 10px 15px;
    margin-bottom: 10px;
    color: #BD4931;
}
.top-del-pc h4 {
    font-size: 15px;
}
.top-del-pc span {
    color: #444;
    font-weight: bold;
}
.top-selname h4 {
    font-weight: bold;
    overflow: hidden;
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
	color: #444;
	font-size: 14px;
	margin: 5px 0px 5px 10px;
}
.totalseller h4 {
    margin: 0px !important;
}
.top-desp-time h5 {
    color: #888;
    font-size: 12px;
    padding: 0px 0px 0px 10px;
}
.totalseller {
    text-align: right;
}
.list-btn {
    margin-top: 20px;
}
.totalseller a {
    color: rgb(191, 74, 50);
    font-size: 13px;
    text-decoration: underline;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
}
.plumb-listbox{padding:10px; border:1px solid #f5f5f5;}
.list-phead{font-size: 13px;
font-weight: bold;
padding-left: 10px;
color:#989898;
line-height:18px;
}
.list-pprice{
	color:#bd4931;
font-weight: 600;
font-size: 15px;
margin-top:2em;
text-align: right;}
.list-remove{text-align:right;}
.btn-premovelist:hover{ color:#bd4931; text-decoration:none;}
.line2-head{line-height: 20px;
padding-left: 10px; margin-top:3px;}
.line3-pprice{line-height: 20px;
padding-left: 10px; color:#bd4931;}
.list-totalprice{color:#bd4931;
font-weight: 600;
font-size: 15px;
margin:10px 0;
text-align: right;}
.input-box select {
    font-size: 13px;
    border: 1px solid #CCC;
    line-height: 32px;
    margin-bottom: 20px;
    width: 100%;
    height: 32px;
    padding: 0px 20px;
    color: #333 !important;
    -moz-appearance: none;
}
.input-box select{
    background: transparent url("../images/checkout_dropdown_icon.png") no-repeat scroll 90% center;
}
.btn-premovelist{ color:#ccc;}
/** quantity box**/

.quantity-box .quantity-controls.quantity-minus {
    top: 0px;
    left: 0px;
    height: 25px;
}
.quantity-box .quantity-controls {
    background-color: #F8F8F8;
    background-repeat: no-repeat;
    border-radius: 0px !important;
    border: medium none;
    height: 19px;
    margin-bottom: 0px;
    padding: 0px;
    position: absolute;
    right: 0px;
    width: 22px;
}
.quantity-box .quantity-controls.quantity-plus {
    top: 0px;
    height: 25px;
}
.wrap-qty .qty-set .quantity-box {
    width: 80%;
	border: 1px solid #EBEBEB;
float: left;
position: relative;
}

.quantity-input.qty {
    border: medium none;
    font-size: 14px;
    height: 25px;
    line-height: 100%;
    margin: 0px;
    text-align: center;
    width: 100%;
}
.list_subtotal{font-size: 15px;
color: #7D7D7D;
float: left;
width: 100%; margin:10px 0;letter-spacing:0.5px;}