<?xml version="1.0"?>
<!--
/**
 * Created by Magentix
 * Based on Module from "Excellence Technologies" (excellencetechnologies.in)
 *
 * @category   Magentix
 * @package    Magentix_Convenience
 * @author     Matthieu Vion (http://www.magentix.fr)
 * @license    This work is free software, you can redistribute it and/or modify it
 */
-->
<config>
    <modules>
        <Magentix_Convenience>
            <version>0.1.8</version>
        </Magentix_Convenience>
    </modules>
    <global>
        <sales>
            <quote>
                <totals>
                    <convenience>
                        <class>convenience/sales_quote_address_total_convenience</class>
                        <renderer>convenience/checkout_totals_convenience</renderer>
                        <admin_renderer>convenience/adminhtml_sales_order_create_totals_convenience</admin_renderer>
						<after>grand_total</after>
                    </convenience>
                </totals>
            </quote>
            <order_invoice>
                <totals>
                    <convenience>
                        <class>convenience/sales_order_total_invoice_convenience</class>
						<after>grand_total</after>
                    </convenience>
                </totals>
            </order_invoice>
            <order_creditmemo>
                <totals>
                    <convenience>
                        <class>convenience/sales_order_total_creditmemo_convenience</class>
						<after>grand_total</after>
                    </convenience>
                </totals>
            </order_creditmemo>
        </sales>
        <events>
            <paypal_prepare_line_items>
                <observers>
                    <paypal_prepare_line_items>
                        <class>convenience/observer</class>
                        <method>updatePaypalTotal</method>
                    </paypal_prepare_line_items>
                </observers>
            </paypal_prepare_line_items>
            <sales_order_invoice_save_after>
                <observers>
                    <sales_order_invoice_save_after>
                        <class>convenience/observer</class>
                        <method>invoiceSaveAfter</method>
                    </sales_order_invoice_save_after>
                </observers>
            </sales_order_invoice_save_after>
            <sales_order_creditmemo_save_after>
                <observers>
                    <sales_order_creditmemo_save_after>
                        <class>convenience/observer</class>
                        <method>creditmemoSaveAfter</method>
                    </sales_order_creditmemo_save_after>
                </observers>
            </sales_order_creditmemo_save_after>
	    </events>
		<fieldsets>
            <sales_convert_quote_address>
                <convenience_amount>
                    <to_order>*</to_order>
                </convenience_amount>
                <base_convenience_amount>
                    <to_order>*</to_order>
                </base_convenience_amount>
            </sales_convert_quote_address>
        </fieldsets>
        
        <pdf>
            <totals>
                <convenience translate="title">
                    <title>Convenience Fee</title>
                    <source_field>convenience_amount</source_field>
                    <font_size>7</font_size>
                    <display_zero>0</display_zero>
                    <sort_order>650</sort_order>
                    <amount_prefix></amount_prefix>
                </convenience>
            </totals>
        </pdf>
        <resources>
            <convenience_setup>
                <setup>
                    <module>Magentix_Convenience</module>
                    <class>Mage_Eav_Model_Entity_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </convenience_setup>
        </resources>
        <models>
            <convenience>
                <class>Magentix_Convenience_Model</class>
            </convenience>
        </models>
        <blocks>
            <convenience>
                <class>Magentix_Convenience_Block</class>
            </convenience>
        </blocks>
        <helpers>
            <convenience>
                <class>Magentix_Convenience_Helper</class>
            </convenience>
        </helpers>
    </global>
    <frontend>
        <layout>
            <updates>
                <convenience>
                    <file>convenience.xml</file>
                </convenience>
            </updates>
        </layout>
    </frontend>

    <adminhtml>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<system>
							<children>
								<config>
									<children>
										<convenience>
											<title>convenience</title>
										</convenience>
									</children>
								</config>
							</children>
						</system>
					</children>
				</admin>
			</resources>
		</acl>
	    <layout>
            <updates>
                <convenience>
                    <file>convenience.xml</file>
                </convenience>
            </updates>
        </layout>
    </adminhtml>
    <default>
        <convenience>
            <convenience_group>
                <conveniencechargepercentage>10</conveniencechargepercentage>
				<minimumconveniencecharge>100</minimumconveniencecharge>
            </convenience_group>
        </convenience>
    </default>
</config>
