<?xml version="1.0"?>
<config>
    <sections>
        <convenience translate="label">
            <label>Convenience Setting</label>
            <tab>sales</tab>
            <frontend_type>text</frontend_type>
            <sort_order>700</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <convenience_group translate="label">
                    <label>Convenience Fee</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>5</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <conveniencechargepercentage translate="label">
                            <label>Convenience Fee(%)</label>
                            <frontend_type>text</frontend_type>
                            <comment>Enter the Convenience Fee that will be calculted for cart subtotal.</comment>
							<validate>validate-number</validate>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </conveniencechargepercentage>
                    </fields>
					<fields>
                        <minimumconveniencecharge translate="label">
                            <label>Minimum Convenience Fee</label>
                            <frontend_type>text</frontend_type>
                            <comment>Enter the minimum Convenience Fee.</comment>
							<validate>validate-number</validate>
							<sort_order>11</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </minimumconveniencecharge>
                    </fields>
                </convenience_group>
            </groups>            
        </convenience>
		
		<sales>
			<groups>
				<totals_sort translate="label" module="sales">
					<tab>sales</tab>
					<fields>
                    	<convenience translate="label">
                            <label>Convenience Fee</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>3</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </convenience>
                    </fields>
				</totals_sort>
			</groups>
		</sales>
    </sections>
</config>