<?xml version="1.0"?>
<config>
    <modules>
        <Msupply_Generatesku>
            <version>0.1.0</version>
        </Msupply_Generatesku>
    </modules>
    <frontend>
        <routers>
            <generatesku>
                <use>standard</use>
                <args>
                    <module>Msupply_Generatesku</module>
                    <frontName>generatesku</frontName>
                </args>
            </generatesku>
        </routers>
        <layout>
            <updates>
                <generatesku>
                    <file>generatesku.xml</file>
                </generatesku>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
            <generatesku>
                <use>admin</use>
                <args>
                    <module>Msupply_Generatesku</module>
                    <frontName>generatesku</frontName>
                </args>
            </generatesku>
        </routers>
    </admin>
    <adminhtml>
        <menu>
            <generatesku module="generatesku">
                <title>Generatesku</title>
                <sort_order>71</sort_order>
                <children>
                    <items module="generatesku">
                        <title>Manage Items</title>
                        <sort_order>0</sort_order>
                        <action>generatesku/adminhtml_generatesku</action>
                    </items>
                </children>
            </generatesku>
        </menu>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <Msupply_Generatesku>
                            <title>Generatesku Module</title>
                            <sort_order>10</sort_order>
                        </Msupply_Generatesku>
                    </children>
                </admin>
            </resources>
        </acl>
        <layout>
            <updates>
                <generatesku>
                    <file>generatesku.xml</file>
                </generatesku>
            </updates>
        </layout>
    </adminhtml>
    <global>
        <models>
            <generatesku>
                <class>Msupply_Generatesku_Model</class>
                <resourceModel>generatesku_mysql4</resourceModel>
            </generatesku>
            <generatesku_mysql4>
                <class>Msupply_Generatesku_Model_Mysql4</class>
                <entities>
                    <generatesku>
                        <table>generatesku</table>
                    </generatesku>
                </entities>
            </generatesku_mysql4>
        </models>
        <resources>
            <generatesku_setup>
                <setup>
                    <module>Msupply_Generatesku</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </generatesku_setup>
            <generatesku_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </generatesku_write>
            <generatesku_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </generatesku_read>
        </resources>
        <blocks>
            <generatesku>
                <class>Msupply_Generatesku_Block</class>
            </generatesku>
        </blocks>
        <helpers>
            <generatesku>
                <class>Msupply_Generatesku_Helper</class>
            </generatesku>
        </helpers>
    </global>
</config>
