<?xml version="1.0"?>
<config>
    <modules>
        <Sujoy_Vendorpinmap>
            <version>0.1.0</version>
        </Sujoy_Vendorpinmap>
    </modules>
    <frontend>
        <routers>
            <vendorpinmap>
                <use>standard</use>
                <args>
                    <module>Sujoy_Vendorpinmap</module>
                    <frontName>vendorpinmap</frontName>
                </args>
            </vendorpinmap>
        </routers>
        <layout>
            <updates>
                <vendorpinmap>
                    <file>vendorpinmap.xml</file>
                </vendorpinmap>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<vendorpinmap>
				<use>admin</use>
				<args>
					<module>Sujoy_Vendorpinmap</module>
					<frontName>vendorpinmap</frontName>
				</args>
			</vendorpinmap>
        </routers>
    </admin>
    <adminhtml>
		<menu>
			<vendorpinmap module="vendorpinmap">
				<title>Vendor Pin Codes Mapping</title>
				<sort_order>71</sort_order>               
				<children>
					<items module="vendorpinmap">
						<title>Manage Pin Codes</title>
						<sort_order>0</sort_order>
						<action>vendorpinmap/adminhtml_vendorpinmap</action>
					</items>
				</children>
			</vendorpinmap>
		</menu>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<Sujoy_Vendorpinmap>
							<title>Vendorpinmap Module</title>
							<sort_order>10</sort_order>
						</Sujoy_Vendorpinmap>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<vendorpinmap>
					<file>vendorpinmap.xml</file>
				</vendorpinmap>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <vendorpinmap>
                <class>Sujoy_Vendorpinmap_Model</class>
                <resourceModel>vendorpinmap_mysql4</resourceModel>
            </vendorpinmap>
            <vendorpinmap_mysql4>
                <class>Sujoy_Vendorpinmap_Model_Mysql4</class>
                <entities>
                    <vendorpinmap>
                        <table>vendorpinmap</table>
                    </vendorpinmap>
                </entities>
            </vendorpinmap_mysql4>
        </models>
        <resources>
            <vendorpinmap_setup>
                <setup>
                    <module>Sujoy_Vendorpinmap</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </vendorpinmap_setup>
            <vendorpinmap_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </vendorpinmap_write>
            <vendorpinmap_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </vendorpinmap_read>
        </resources>
        <blocks>
            <vendorpinmap>
                <class>Sujoy_Vendorpinmap_Block</class>
            </vendorpinmap>
        </blocks>
        <helpers>
            <vendorpinmap>
                <class>Sujoy_Vendorpinmap_Helper</class>
            </vendorpinmap>
        </helpers>
    </global>
</config>