

@media all and (min-width: 0px) and  (max-width: 459px) {
    #sociallogin_button ul li{padding: 0px 0px 10px 0px;}
}
@media (min-width: 460px) {
    #sociallogin_button ul li{padding: 0px 0px 10px 10px;}
}
@media only screen and (max-width: 768px){

}

@media only screen and (max-width: 1024px){

    #magestore-sociallogin-form-forgot .magestore-login-popup-button{
        width: 100%;
    }
    #magestore-popup .border-popup{
        height: auto;
    }
    #magestore-login-form{
        width: 100%;
        background: none;
        padding: 0;
    }
    .sociallogin-input-box .input-text {
        box-shadow: none;
        width: 100%;
    }
    .magestore-login-popup-button .pass-register {
        float: right;
        width: auto;
    }
    #magestore-login-social{
        width: 100%;
        text-align: center;
        margin-top: 15px;
    }
    .magestore-login-social {
         padding-right: 0px;
    }
    ul.magestore-login-social li.button {
        margin-right: 8px;
    }
    ul.magestore-login-social li {
        float: left;
        vertical-align: middle;
        float: none;
    }
    #magestore-login-social .magestore-loign-h3 {
        float: left;
        padding-right: 0;
        width: 100%;
        margin-bottom: 2px;
    }
    #magestore-button-sociallogin-forgot {
         margin-top: 0px ;
    }
    #magestore-create-user {
        width: 100%;
        background: none;
         padding-left: 0px;
    }

    #magestore-sociallogin-form-create .form-list > li{
        float: left;
        width: 100%;
    }

    #magestore-popup .form-list .sociallogin-field{
        width: 50%;
    }
    #magestore-popup .form-list .sociallogin-field.right{
        padding-left: 5px;
    }
    #magestore-popup{
        top: 100px !important;
    }
}

@media only screen and (max-width: 480px){

 .magestore-login-popup-button .pass-register {
    float: right;
    clear: both;
}
#magestore-forgot-password,
#magestore-sociallogin-create-new-customer{
    font-size: 12px;
}
#magestore-forgot-back {
    width: 100%;
    text-align: center;
}
#magestore-popup{
    width: 94% !important;
}
.magestore-login-form-popup, .magestore-register-form-popup{
    padding-left: 40px;
    padding-right: 40px;
    background-position: -90px 0px;
}
.magestore-create_agree_area{
    padding-left: 30px;
    background-position: -60px 0px;
}
.magestore-login-popup-button, .magestore-create-popup-button{
    background-position: -60px 0px;
}
.captcha_box{
    margin-top: 0px;
    height: 78px;
}
.magestore-loign-h3, .magestore-reg-h3{
    margin-bottom: 20px;
    font-size: 15px;
}
#magestore-popup{
    top: 40px !important;
}
#magestore-login-form .magestore-invalid-email{
    top: 50px;
}
.sociallogin-forgot-content{
    margin-bottom: 10px;
}
.captcha{
    margin: 10px auto 5px;
    width: 130px;
    border: 1px solid #c4c4c4;
    height: 40px;
    padding: 0px;
}
#magestore-sociallogin-form-forgot .magestore-register-form-popup{
    padding-bottom: 0px;
}
}