<?xml version="1.0"?>
<!--
/**
 * Msupply_Knowmore extension
 * 
 * NOTICE OF LICENSE
 * 
 * This source file is subject to the MIT License
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/mit-license.php
 * 
 * @category       Msupply
 * @package        Msupply_Knowmore
 * @copyright      Copyright (c) 2015
 * @license        http://opensource.org/licenses/mit-license.php MIT License
 */
-->
<config>
    <modules>
        <Msupply_Knowmore>
            <version>1.0.0</version>
        </Msupply_Knowmore>
    </modules>
    <global>
        <resources>
            <msupply_knowmore_setup>
                <setup>
                    <module>Msupply_Knowmore</module>
                    <class>Msupply_Knowmore_Model_Resource_Setup</class>
                </setup>
            </msupply_knowmore_setup>
        </resources>
        <blocks>
            <msupply_knowmore>
                <class>Msupply_Knowmore_Block</class>
            </msupply_knowmore>
        </blocks>
        <helpers>
            <msupply_knowmore>
                <class>Msupply_Knowmore_Helper</class>
            </msupply_knowmore>
        </helpers>
        <models>
            <msupply_knowmore>
                <class>Msupply_Knowmore_Model</class>
                <resourceModel>msupply_knowmore_resource</resourceModel>
            </msupply_knowmore>
            <msupply_knowmore_resource>
                <class>Msupply_Knowmore_Model_Resource</class>
                <entities>
                    <knowmore>
                        <table>msupply_knowmore_knowmore</table>
                    </knowmore>
                </entities>
            </msupply_knowmore_resource>
        </models>
    </global>
    <adminhtml>
        <layout>
            <updates>
                <msupply_knowmore>
                    <file>msupply_knowmore.xml</file>
                </msupply_knowmore>
            </updates>
        </layout>
        <translate>
            <modules>
                <Msupply_Knowmore>
                    <files>
                        <default>Msupply_Knowmore.csv</default>
                    </files>
                </Msupply_Knowmore>
            </modules>
        </translate>
    </adminhtml>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Msupply_Knowmore before="Mage_Adminhtml">Msupply_Knowmore_Adminhtml</Msupply_Knowmore>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <frontend>
        <routers>
            <msupply_knowmore>
                <use>standard</use>
                <args>
                    <module>Msupply_Knowmore</module>
                    <frontName>knowmore</frontName>
                </args>
            </msupply_knowmore>
        </routers>
        <layout>
            <updates>
                <msupply_knowmore>
                    <file>msupply_knowmore.xml</file>
                </msupply_knowmore>
            </updates>
        </layout>
        <translate>
            <modules>
                <Msupply_Knowmore>
                    <files>
                        <default>Msupply_Knowmore.csv</default>
                    </files>
                </Msupply_Knowmore>
            </modules>
        </translate>
    </frontend>
    <default>
        <msupply_knowmore>
            <knowmore>
                <breadcrumbs>1</breadcrumbs>
            </knowmore>
        </msupply_knowmore>
    </default>
</config>
