<?xml version="1.0"?>
<!--
/* 
 * @category    Clarion
 * @package     Clarion_PaymentModulePack
 * @created     2nd Dec,2014
 * @author      Clarion magento team<magento.team@clariontechnologies.co.in>   
 * @purpose     Payment module base configuration
 * @copyright   Copyright (c) 2014 Clarion Technologies Pvt.Ltd
 * @license     http://opensource.org/licenses/osl-3.0.php  Open Software License
 */
-->
<config>
	<modules>
		<Clarion_PaymentModulePackbankin>
			<version>1.0.0</version>
		</Clarion_PaymentModulePackbankin>
	</modules>
	<global>
		<helpers>
			<paymentmodulepackbankin>
				<class>Clarion_PaymentModulePackbankin_Helper</class>
			</paymentmodulepackbankin>
		</helpers>
		<blocks>
			<paymentmodulepackbankin>
				<class>Clarion_PaymentModulePackbankin_Block</class>
			</paymentmodulepackbankin>
		</blocks>
		<models>
			<paymentmodulepackbankin>
				<class>Clarion_PaymentModulePackbankin_Model</class>
				<resourceModel>paymentmodulepackbankin_mysql4</resourceModel>
			</paymentmodulepackbankin>
		</models>
		<resources>
			<paymentmodulepackbankin_setup>
				<setup>
					<module>Clarion_PaymentModulePackbankin</module>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</paymentmodulepackbankin_setup>
			<paymentmodulepackbankin_read>
				<connection>
					<use>core_read</use>
				</connection>
			</paymentmodulepackbankin_read>
			<paymentmodulepackbankin_write>
				<connection>
					<use>core_write</use>
				</connection>
			</paymentmodulepackbankin_write>
		</resources>
		<fieldsets>
             <sales_convert_quote_payment>
                <dd_no>
                    <to_order_payment>*</to_order_payment>
                </dd_no>
                <dd_date>
                    <to_order_payment>*</to_order_payment>
                </dd_date>
				<draweenamedd>
                    <to_order_payment>*</to_order_payment>
                </draweenamedd>
                <draweebankdd>
                    <to_order_payment>*</to_order_payment>
                </draweebankdd>
				<cheqlocdd>
                    <to_order_payment>*</to_order_payment>
                </cheqlocdd>
                <pannodd>
                    <to_order_payment>*</to_order_payment>
                </pannodd>
             </sales_convert_quote_payment>
        </fieldsets>
	</global>
	<frontend>
		<layout>
			<updates>
				<paymentmodulepackbankin>
					<file>paymentmodulepackbankin.xml</file>
				</paymentmodulepackbankin>
			</updates>
		</layout>
		<routers>
			<paymentmodulepackbankin>
				<use>standard</use>
				<args>
					<module>Clarion_PaymentModulePackbankin</module>
					<frontName>customcard</frontName>
				</args>
			</paymentmodulepackbankin>
		</routers>
	</frontend>
	<default>
		<payment>
            <paymentmodulepackbankin>
                <active>1</active>
                <model>paymentmodulepackbankin/paymentmodulepack</model>
                <order_status>processing</order_status>
                <title>Cheque Payment</title>
            </paymentmodulepackbankin>
		<!--	<paymentmodulepackbankin_checkout>
                <active>1</active>
                <model>paymentmodulepackbankin/standard</model>
                <order_status>processing</order_status>
                <title>Custom Gateway</title>
				<payment_action>sale</payment_action>
				<submit_url>https://www.google.com</submit_url>
				<merchant_id>Insert merchant id</merchant_id>
				<allowspecific>0</allowspecific>
				<sort_order>1</sort_order>
            </paymentmodulepackbankin_checkout> -->
         </payment>
	</default>
</config>
