<?xml version="1.0"?>
<config>
    <modules>
        <Msupply_Paymentstatus>
            <version>0.1.0</version>
        </Msupply_Paymentstatus>
    </modules>
    <frontend>
        <routers>
            <paymentstatus>
                <use>standard</use>
                <args>
                    <module>Msupply_Paymentstatus</module>
                    <frontName>paymentstatus</frontName>
                </args>
            </paymentstatus>
        </routers>
        <layout>
            <updates>
                <paymentstatus>
                    <file>paymentstatus.xml</file>
                </paymentstatus>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
            <paymentstatus>
                <use>admin</use>
                <args>
                    <module>Msupply_Paymentstatus</module>
                    <frontName>paymentstatus</frontName>
                </args>
            </paymentstatus>
			<adminhtml>
				<args>
					<modules>
						<Msupply_Paymentstatus before="Mage_Adminhtml">Msupply_Paymentstatus_Adminhtml</Msupply_Paymentstatus>
					</modules>
				</args>
			</adminhtml>
        </routers>
    </admin>
    <adminhtml>
				<!--start-->
    <events>           
        <checkout_onepage_controller_success_action>
            <observers>
                <paymentstatus>
                    <class>Msupply_Paymentstatus_Model_Observer</class>
                    <method>sendOrderAlerts</method>
                </paymentstatus>
            </observers>
        </checkout_onepage_controller_success_action>                 
    </events>      
    <!--end-->
        <!--<menu>
            <paymentstatus module="paymentstatus">
                <title>Paymentstatus</title>
                <sort_order>71</sort_order>
                <children>
                    <items module="paymentstatus">
                        <title>Manage Items</title>
                        <sort_order>0</sort_order>
                        <action>paymentstatus/adminhtml_paymentstatus</action>
                    </items>
                </children>
            </paymentstatus>
        </menu>-->
		<menu>
		<system translate="title" module="adminhtml">
		<children>
		        <paymentstatus translate="title">
                    <title>Payment Statuses</title>
                    <action>paymentstatus/adminhtml_paymentstatus</action>
                    <sort_order>110</sort_order>
                </paymentstatus>
		</children>
		</system>
		</menu>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <Msupply_Paymentstatus>
                            <title>Paymentstatus Module</title>
                            <sort_order>10</sort_order>
                        </Msupply_Paymentstatus>
						
						<system>
                        <children>
                            <config>
                                <children>
                                    <paymentstatus>
                                        <title>Payment Trusted Option</title>
                                    </paymentstatus>
                                </children>
                            </config>
                        </children>
						</system>
						
                    </children>
                </admin>
            </resources>
        </acl>
        <layout>
            <updates>
                <paymentstatus>
                    <file>paymentstatus.xml</file>
                </paymentstatus>
            </updates>
        </layout>
    </adminhtml>
    <global>
        <models>
            <paymentstatus>
                <class>Msupply_Paymentstatus_Model</class>
                <resourceModel>paymentstatus_mysql4</resourceModel>
            </paymentstatus>
            <paymentstatus_mysql4>
                <class>Msupply_Paymentstatus_Model_Mysql4</class>
                <entities>
                    <paymentstatus>
                        <table>paymentstatus</table>
                    </paymentstatus>
                </entities>
            </paymentstatus_mysql4>
        </models>
		 <events>
            <sales_order_place_after>
                <observers>
                    <msupply_paymentstatus_model_observer>
                        <class>Msupply_Paymentstatus_Model_Observer</class>
                        <method>updateStatus</method>
                    </msupply_paymentstatus_model_observer>
                </observers>
            </sales_order_place_after>
        </events>
        <resources>
            <paymentstatus_setup>
                <setup>
                    <module>Msupply_Paymentstatus</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </paymentstatus_setup>
            <paymentstatus_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </paymentstatus_write>
            <paymentstatus_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </paymentstatus_read>
        </resources>
        <blocks>
            <paymentstatus>
                <class>Msupply_Paymentstatus_Block</class>
            </paymentstatus>
			<sales>
                  <rewrite>
                      <order_history>Msupply_Paymentstatus_Block_Order_History</order_history>
                  </rewrite>        
            </sales>
        </blocks>
        <helpers>
            <paymentstatus>
                <class>Msupply_Paymentstatus_Helper</class>
            </paymentstatus>
        </helpers>
    </global>
</config>
