<?xml version="1.0"?>
<!--
/**
 * Created by Magentix
 * Based on Module from "Excellence Technologies" (excellencetechnologies.in)
 *
 * @category   Magentix
 * @package    Magentix_Convenienceservice
 * @author     Matthieu Vion (http://www.magentix.fr)
 * @license    This work is free software, you can redistribute it and/or modify it
 */ Convenienceservice
-->
<config>
    <modules>
        <Magentix_Convenienceservice>
            <version>0.1.5</version>
        </Magentix_Convenienceservice>
    </modules>
    <global>
        <!-- <sales>
            <quote>
                <totals>
                    <convenienceservice>
                        <class>convenienceservice/sales_quote_address_total_convenienceservice</class>
                        <renderer>convenienceservice/checkout_totals_convenienceservice</renderer>
                        <admin_renderer>convenienceservice/adminhtml_sales_order_create_totals_convenienceservice</admin_renderer>
						<after>grand_total</after>
                    </convenienceservice>
                </totals>
            </quote>
            <order_invoice>
                <totals>
                    <convenienceservice>
                        <class>convenienceservice/sales_order_total_invoice_convenienceservice</class>
						<after>grand_total</after>
                    </convenienceservice>
                </totals>
            </order_invoice>
            <order_creditmemo>
                <totals>
                    <convenienceservice>
                        <class>convenienceservice/sales_order_total_creditmemo_convenienceservice</class>
						<after>grand_total</after>
                    </convenienceservice>
                </totals>
            </order_creditmemo>
        </sales> -->
        <events>
            <paypal_prepare_line_items>
                <observers>
                    <paypal_prepare_line_items>
                        <class>convenienceservice/observer</class>
                        <method>updatePaypalTotal</method>
                    </paypal_prepare_line_items>
                </observers>
            </paypal_prepare_line_items>
            <sales_order_invoice_save_after>
                <observers>
                    <sales_order_invoice_save_after>
                        <class>convenienceservice/observer</class>
                        <method>invoiceSaveAfter</method>
                    </sales_order_invoice_save_after>
                </observers>
            </sales_order_invoice_save_after>
            <sales_order_creditmemo_save_after>
                <observers>
                    <sales_order_creditmemo_save_after>
                        <class>convenienceservice/observer</class>
                        <method>creditmemoSaveAfter</method>
                    </sales_order_creditmemo_save_after>
                </observers>
            </sales_order_creditmemo_save_after>
        </events>
		<fieldsets>
            <sales_convert_quote_address>
                <convenienceservice_amount>
                    <to_order>*</to_order>
                </convenienceservice_amount>
                <base_convenienceservice_amount>
                    <to_order>*</to_order>
                </base_convenienceservice_amount>
            </sales_convert_quote_address>
        </fieldsets>
        <pdf>
            <totals>
                <convenienceservice translate="title">
                    <title>Convenienceservice Charge</title>
                    <source_field>convenienceservice_amount</source_field>
                    <font_size>7</font_size>
                    <display_zero>0</display_zero>
                    <sort_order>650</sort_order>
                    <amount_prefix></amount_prefix>
                </convenienceservice>
            </totals>
        </pdf>
        <resources>
            <convenienceservice_setup>
                <setup>
                    <module>Magentix_Convenienceservice</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </convenienceservice_setup>
        </resources>
        <models>
            <convenienceservice>
                <class>Magentix_Convenienceservice_Model</class>
            </convenienceservice>
        </models>
        <blocks>
            <convenienceservice>
                <class>Magentix_Convenienceservice_Block</class>
            </convenienceservice>
        </blocks>
        <helpers>
            <convenienceservice>
                <class>Magentix_Convenienceservice_Helper</class>
            </convenienceservice>
        </helpers>
    </global>
    <!-- <frontend>
        <layout>
            <updates>
                <convenienceservice>
                    <file>convenienceservice.xml</file>
                </convenienceservice>
            </updates>
        </layout>
    </frontend> -->

    <adminhtml>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<system>
							<children>
								<config>
									<children>
										<convenienceservice>
											<title>convenienceservice</title>
										</convenienceservice>
									</children>
								</config>
							</children>
						</system>
					</children>
				</admin>
			</resources>
		</acl>
	    <!-- <layout>
            <updates>
                <convenienceservice>
                    <file>convenienceservice.xml</file>
                </convenienceservice>
            </updates>
        </layout> -->
    </adminhtml>
    <default>
        <convenience>
            <convenience_group>
                <convenienceservicechargepercentage>14</convenienceservicechargepercentage>
			</convenience_group>
        </convenience>
    </default>
</config>