<?xml version="1.0"?>
<!--
/**
 * Created by Magentix
 * Based on Module from "Excellence Technologies" (excellencetechnologies.in)
 *
 * @category   Magentix
 * @package    Magentix_Execiseduty
 * @author     Matthieu Vion (http://www.magentix.fr)
 * @license    This work is free software, you can redistribute it and/or modify it
 */
-->
<config>
    <modules>
        <Magentix_Execiseduty>
            <version>0.1.5</version>
        </Magentix_Execiseduty>
    </modules>
    <global>
        <sales>
            <quote>
                <totals>
                    <execiseduty>
                        <class>execiseduty/sales_quote_address_total_execiseduty</class>
                        <renderer>execiseduty/checkout_totals_execiseduty</renderer>
                        <admin_renderer>execiseduty/adminhtml_sales_order_create_totals_execiseduty</admin_renderer>
						<after>grand_total</after>
                    </execiseduty>
                </totals>
            </quote>
            <order_invoice>
                <totals>
                    <execiseduty>
                        <class>execiseduty/sales_order_total_invoice_execiseduty</class>
						<after>grand_total</after>
                    </execiseduty>
                </totals>
            </order_invoice>
            <order_creditmemo>
                <totals>
                    <execiseduty>
                        <class>execiseduty/sales_order_total_creditmemo_execiseduty</class>
						<after>grand_total</after>
                    </execiseduty>
                </totals>
            </order_creditmemo>
        </sales>
        <events>
            <paypal_prepare_line_items>
                <observers>
                    <paypal_prepare_line_items>
                        <class>execiseduty/observer</class>
                        <method>updatePaypalTotal</method>
                    </paypal_prepare_line_items>
                </observers>
            </paypal_prepare_line_items>
            <sales_order_invoice_save_after>
                <observers>
                    <sales_order_invoice_save_after>
                        <class>execiseduty/observer</class>
                        <method>invoiceSaveAfter</method>
                    </sales_order_invoice_save_after>
                </observers>
            </sales_order_invoice_save_after>
            <sales_order_creditmemo_save_after>
                <observers>
                    <sales_order_creditmemo_save_after>
                        <class>execiseduty/observer</class>
                        <method>creditmemoSaveAfter</method>
                    </sales_order_creditmemo_save_after>
                </observers>
            </sales_order_creditmemo_save_after>
	    </events>
		<fieldsets>
            <sales_convert_quote_address>
                <execiseduty_amount>
                    <to_order>*</to_order>
                </execiseduty_amount>
                <base_execiseduty_amount>
                    <to_order>*</to_order>
                </base_execiseduty_amount>
            </sales_convert_quote_address>
        </fieldsets>
        
        <pdf>
            <totals>
                <execiseduty translate="title">
                    <title>Execiseduty Fee</title>
                    <source_field>execiseduty_amount</source_field>
                    <font_size>7</font_size>
                    <display_zero>0</display_zero>
                    <sort_order>650</sort_order>
                    <amount_prefix></amount_prefix>
                </execiseduty>
            </totals>
        </pdf>
        <resources>
            <execiseduty_setup>
                <setup>
                    <module>Magentix_Execiseduty</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </execiseduty_setup>
        </resources>
        <models>
            <execiseduty>
                <class>Magentix_Execiseduty_Model</class>
            </execiseduty>
        </models>
        <blocks>
            <execiseduty>
                <class>Magentix_Execiseduty_Block</class>
            </execiseduty>
        </blocks>
        <helpers>
            <execiseduty>
                <class>Magentix_Execiseduty_Helper</class>
            </execiseduty>
        </helpers>
    </global>
    <frontend>
        <layout>
            <updates>
                <execiseduty>
                    <file>execiseduty.xml</file>
                </execiseduty>
            </updates>
        </layout>
    </frontend>

    <adminhtml>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<system>
							<children>
								<config>
									<children>
										<execiseduty>
											<title>execiseduty</title>
										</execiseduty>
									</children>
								</config>
							</children>
						</system>
					</children>
				</admin>
			</resources>
		</acl>
	    <layout>
            <updates>
                <execiseduty>
                    <file>execiseduty.xml</file>
                </execiseduty>
            </updates>
        </layout>
    </adminhtml>
   
</config>