<?xml version="1.0"?>
<config>
	<modules>
		<Celusion_Customer>
			<version>1.0</version>
		</Celusion_Customer>
	</modules>
	<global>
		<fieldsets>
			<customer_account>			 
			<mobile>
				<create>1</create>
				<update>1</update>						
			</mobile>
			</customer_account>
		</fieldsets>
	</global>
	<global>				
		<models>
			<celusion_customer>
				<class>Celusion_Customer_Model</class>
				<resourceModel>customer_mysql4</resourceModel>
			</celusion_customer>
			<customer_mysql4>
                <class>Celusion_Customer_Model_Mysql4</class> 				          
            </customer_mysql4>
		</models>
		<helpers>
			<celusion_customer>
				<class>Celusion_Customer_Helper</class>
			</celusion_customer>
		</helpers>
		<resources>
			<celusion_customer_setup>
				<setup>
					<module>Celusion_Customer</module>
					<class>Celusion_Customer_Model_Entity_Setup</class>
				</setup>				 
				<connection>
                    <use>core_setup</use>
                </connection>
			</celusion_customer_setup>			
		</resources>					
	</global>
</config>
