ul.magestore-login-social li{
    background:#fff;
    border:none; 
    float: right
}
#magestore-popup{
    width:520px !important;
    z-index:99999;
    top: 70px !important;
}
#magestore-popup_social {
    text-align: center;
    font-size: 12px;
    line-height: 1.25em;
    margin-bottom: 0.7em;
    position: absolute;
    top: 100px !important;
    left: 0;
    z-index: 100000;
    background-color: white;
}
#sociallogin_button ul.right li{
    float: right;
}
.magestore-popup_social{
        width: 90% !important;
    }
#other_sociallogin_label {
    background-color: rgb(240, 240, 237);
    line-height: 2em;
}
#magestore-popup_social li{
    /* float: right; */
    text-align: center;
}
.magestore-login-social{
    float: right;
    padding-right: 30px;
}
ul.magestore-login-social li.button{
    list-style: none !important;
    padding: 4px 0;
}
ul.magestore-login-social li.button:hover{
    background:none !important;
    margin:0;
    border:none;
    list-style: none !important;
}

#magestore-login-form .magestore-invalid-email{
    float: left;
    width: 100%;
    font-size: 12px;
    color: #bd4931;
    margin-bottom: 10px;
    position: absolute;
    top:70px;
}
.magestore-popup_social {
    max-width: 622px !important;
}
.clear{
     clear:both;
}
    
/* change poppup */
#magestore-popup{
    position: absolute;
    z-index: 40020;
}
#magestore-popup .border-popup{
    float: left;
    width: 100%;
    padding: 0px;
    height: auto;
}
#bg_fade {
    background: url("sociallogin/blurbg_03.png");
    height: 100%;
    left: 0;
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    visibility: hidden;
    width: 100%;
    z-index: 1100;
    float:left;
    min-height:3000px;
    -moz-animation-timing-function: ease-out;
    -moz-animation-duration: 350ms;
    animation-timing-function: ease-out;
    animation-duration: 350ms;
    
}
#sociallogin-close{
    cursor: pointer;
    position: absolute;  
    z-index: 9999;
    right: 30px;
    top: 30px;
    height: 14px;
    width: 15px;
    background:url("sociallogin/close_btn.png") no-repeat;
}
#sociallogin-close:hover{
    text-decoration: underline;
}
#sociallogin-close-popup{
    cursor: pointer;
    position: absolute;
    z-index: 9999;
    right: 30px;
    top: 30px;
    height: 14px;
    width: 15px;
    background: url("sociallogin/close_btn.png") no-repeat;
}
#sociallogin-close-popup:hover{
    text-decoration: underline;
}
#magestore-login-form{
    width: 100%;
}
#magestore-popup #primary_select{
    padding-left: 5px !important;
}
.magestore-login-form-popup, .magestore-register-form-popup, .magestore-forget-form-popup{
    padding-left: 60px;
    padding-right: 60px;
    width: 100%;
    background: url("sociallogin/Reg_Screen.png") left top no-repeat;
    float: left;
    padding-bottom: 20px;
}
.magestore-register-form-popup{
    padding-bottom: 15px;
}
.magestore-loign-h3, .magestore-reg-h3{
    font-size: 18px;
    color: #444;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 40px;
    font-weight: normal;
}
.magestore-reg-h3{
    margin-top: 25px;
    margin-bottom: 25px;
}
.rembr_me {
    float: left;
    width: 50%;
    color: #333;
    font-size: 12px;
    font-weight: 500;
    line-height: 25px;
    margin-top: -15px;
}
.rembr_me input[type="checkbox"], .magestore-create_agree_area input[type="checkbox"]{
    border-radius: 0px;
    box-sizing: border-box;
    float: left;
    box-sizing: content-box;
    width: 16px;
    height: 16px;
    border-width: 0;
    background: #fff;
    margin-right: 4px;
}
.login-label{
    padding-top: 5px;
    font-weight: normal;
    color: #666;
    margin: 5px;
}
.login-label em{
    color: red;
}
.magestore-login-popup-button, .magestore-create-popup-button{
    float: left;
    margin-top: 0px;
    background: url("sociallogin/btn_area_bg.png") left top no-repeat;
    height: 130px;
    width: 100%;
    text-align: center;
    font-size: 12px;
}
.magestore-create-popup-button{
    height: 85px;
}
.magestore-create-popup-button .popup_click_btn{
    margin-top: 15px;
}
.magestore-create_agree_area{
    float: left;
    margin-top: 0px;
    background: url("sociallogin/Reg_Screen_2.png") left top;
    width: 100%;
    padding: 10px 0px 10px 60px;
}
.magestore-create_agree_area span{
    float: left;
    width: 100%;
    margin-bottom: 0px;
    color: #333;
    font-size: 12px;
    font-weight: 500;
    line-height: 25px;
}
.magestore-login-popup-button .pass-register {
    float: left;
    width: 100%;
}
#magestore-forgot-password, #magestore-forgot-back,
.magestore-sociallogin-create-new-customer, 
.terms_conditions, #magestore-create-back{
    font-size: 12px;
    color: #BF4A32;
    text-decoration: underline;
}
#magestore-sociallogin-create-new-customer{
    text-decoration: none;
}
#magestore-forgot-password{
    float: right;
    text-align: right;
    margin-top: -12px;
}
.magestore-login-popup-button p{
    margin: 0px;
}
.popup_click_btn, .success_btn{
    margin-top: 40px;
    margin-bottom: 10px;
    padding: 0px 36px;
    height: 30px;
    font-size: 12px;
    line-height: 30px;
    background-color: #BF4A32;
    color: white;
    border: none;
    text-transform: uppercase;
}
.success_btn{
    color: #fff !important;
    text-decoration: none !important;
    padding: 10px 36px;
}
.success_btn:hover{
    color: #fff;
}
.ajax-login-image{
    background: url("sociallogin/opc-ajax-loader.gif") no-repeat scroll 0 0 transparent;
    width: 16px;
    height: 16px;
    margin: 40% 0 5px 40%;
    z-index: 9999999;
    position: absolute;
}

.magestore-sociallogin-create-new-customer a{
    padding-left: 32px;
    font-weight: bold;
}
.sociallogin-field{
    width: 100%;
    float: left;
}
#magestore-popup .input-text, #magestore-popup .input-text_reg{
    border: none;
    width: 100%;
    height: 40px;
    margin-bottom: 20px;
    padding-left: 10px;
    padding-right: 20px;
    float: left;
    color: #333;
    font-size: 10pt;
    border: 2px transparent;
 }
#magestore-popup .input-text_reg{
    margin-bottom: 10px !important;
    background: #fff;
}
.not{
    color:#333; 
    text-decoration:none;
    cursor:default;
    font-size: 12px;
}
.not:hover{
    text-decoration:none;
}
.sociallogin-other-button-popup{
    float: left;
    text-align: center;
    padding: 15px 0px 0px;
}

#magestore-popup #magestore-create-user{
    top: 20px;
}

/*Register*/
#magestore-create-user {
    width: 100%;
}
#magestore-popup .dropdown-selection{
    background: #fff;
    margin-bottom: 10px;
    min-height: 40px;
    float: left;
    width: 100%;
}
#magestore-popup .dropdown-selection dt a{
    padding: 5px 3px 5px 0px;
    width: 100%;
    border:2px transparent;
}
#magestore-popup .dropdown-selection dd,
#magestore-popup .dropdown dt {
    margin: 0px;
    padding: 0px;
}
#magestore-popup .dropdown-selection ul {
    margin: -1px 0 0 0;
}
#magestore-popup .dropdown-selection dd {
    position: relative;
}
#magestore-popup .dropdown-selection a,
#magestore-popup .dropdown-selection a:visited {
    text-decoration: none;
    outline: none;
    font-size: 12px;
}

#magestore-popup .dropdown-selection dt a span,
#magestore-popup .multiSel span {
    cursor: pointer;
    display: inline-block;
}
#magestore-popup .dropdown-selection dd ul {
    display: none;
    left: 0px;
    padding: 2px 15px 2px 5px;
    position: absolute;
    width: 100%;
    list-style: none;
    overflow: auto;
    background: white;
    z-index: 999;
    border: none;
    height: 94px;
}
#magestore-popup .dropdown-selection span.value {
    display: none;
}
#magestore-popup .dropdown-selection dd ul li a {
    padding: 5px;
    display: block;
}
#magestore-popup .multiSel {
    min-height: 0 !important;
    width: 100%;
    padding-left: 5px;
    font-size: 12px !important;
    font-weight: normal;
    color: #AEAEAB !important;
    line-height: 13px;
}
#magestore-popup .dropdown-selection input[type="checkbox"] {
    width: auto;
    height: auto;
    margin: 3px 5px 3px 14px;
    vertical-align: -2px;
}

.captcha_box{
    float: left;
    background: #fff;
    width: 100%;
    height: 110px;
    margin: 20px 0px 10px;
}
.captcha{
    width: 140px;
    margin: 20px auto 10px;
    border: 1px solid #c4c4c4;
    height: 50px;
    padding: 5px;
}
.captcha img{
    height: 38px;
    float: left;
}
.captcha_box a{
    float: right;
    font-size: 12px;
    margin-top: 0px;
    margin-right: 10px;
    text-decoration: underline;
    color: #bd4931;
}
.sociallogin-forgot-content{
    font-size: 12px;
    float: left;
    margin-bottom: 20px;
    width: 100%;
}
.form-inline{
    float: left;
    width: 100%;
}
#magestore-popup .validation-failed{
    border: 1px solid #bd4931;
}
.magestore-login-form-popup .validation-advice{
    margin-top: -15px;
}
#magestore-create-user .validation-advice{
    margin-top: -8px;
    margin-bottom: 5px;
}
#magestore-popup .errormobi1{
    color: #bd4931 !important;
    font-size: 11px;
    margin-bottom: 10px;
    margin-top: -10px;
}
.magestore-login-input-box{
    float: left;
    width: 100%;
}
.magestore-login-input-box .validation-advice{
    margin-top: -15px;
}

#magestore-popup .validation-advice, #magestore-popup .error3, #magestore-popup .error4, #magestore-popup .error1, #magestore-popup .error2{
    color: #bd4931 !important;
    font-size: 11px;
}
.magestore-invalid-email{
    color: #bd4931 !important;
    font-size: 11px;
}
#magestore-popup .msg_box{
    float: left;
    width: 100%;
    text-align: center;
    padding: 50px 0px 60px;
}
#magestore-popup .msg_box p{
    font-size: 12px;
    color: #333;
    padding-top: 15px;
}
.showpasswordlabel{
    font-size: 12px !important;
    color: rgb(51, 51, 51);
    float: left;
    margin-top: -5px;
}
.showpasswordlabel span{
    margin-left: 5px;
    margin-top: 0px;
    float: left;
}
.showpasswordlabel input[type="checkbox"] {
    float: left;
    margin-top: 0px;
    width: 15px;
    height: 15px;
}
