/*custom css*/
/*contact us*/

#contactForm h2{
	color: #af7b1b;
	font-size: 16px;
	float: left;
	width: 100%;
	margin: 20px 0;
	font-weight: bold !important;
}
#contactForm input
{
	max-width: 100% !important;
	float: left;
	color: #52565f;
	font-size: 13px;
	line-height: 45px;
	border: 1px solid #ebebeb;
	outline: none;
	height: 45px;
}
.contact-form-wrapper{
	width: 94%;
	margin: 0px auto;
}
.contact-button{
float: right !important;
  width: 108px;
  height: 33px;
  background: #52565f;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  font-size: 13px;
  margin-bottom: 35px;
  margin-right: 21px;
  margin-top: 15px;
}
.map-wrapper {
	width: 97%;
	margin: 0px auto;
	text-align: center;
}
.contact-map-wrap {
  	margin-top: -15px;
}
.box-1-contact .contact-map-wrap #map {
  height: 350px;
}
ul.list-info {
  margin-left: 20px;
}
.info-content h2 {
  font-size: 14px;
  font-weight: 500;
  margin: 10px 0;
  text-transform: uppercase;
}

/*End of Contact us*/