<?xml version="1.0" ?>
<config>
	<modules>
		<Ameex_Adminlog>
			<version>1.0.1</version>
		</Ameex_Adminlog>
	</modules>
	<adminhtml>
		<events>
			<controller_action_predispatch>
                <observers>
                    <ameex_adminlog_controller_action_predispatch>
                        <class>adminlog/observer</class>
                        <method>getLog</method>
                    </ameex_adminlog_controller_action_predispatch>
                </observers>
            </controller_action_predispatch>
		</events>
    </adminhtml>
	<global>
		<blocks>
			<adminlog>
				<class>Ameex_Adminlog_Block</class>
			</adminlog>
		</blocks>
		<helpers>
			<adminlog>
				<class>Ameex_Adminlog_Helper</class>
			</adminlog>
		</helpers>
		<models>
			<adminlog>
				<class>Ameex_Adminlog_Model</class>
				<resourceModel>adminlog_resource</resourceModel>
			</adminlog>
			<adminlog_resource>
				<class>Ameex_Adminlog_Model_Resource</class>
				<entities>
					<adminlog>
						<table>adminlog_activities</table>
					</adminlog>
				</entities>
			</adminlog_resource>
		</models>
		<resources>
			<adminlog_setup>
				<setup>
					<module>Ameex_Adminlog</module>
					<class>Ameex_Adminlog_Model_Resource_Setup</class>
				</setup>
			</adminlog_setup>
		</resources>
	</global>
	<admin>
		<routers>
			<adminhtml>
				<args>
					<modules>
						<Ameex_Adminlog after="Mage_Adminhtml">Ameex_Adminlog_Adminhtml</Ameex_Adminlog>
					</modules>
				</args>
			</adminhtml>
		</routers>
	</admin>
	<crontab> 
        <jobs>
            <ameex_adminlog>
                <schedule>
                    <cron_expr>*/1 * * * *</cron_expr><!-- every 1 minutes -->
                </schedule>
                <run>
                    <model>adminlog/observer::cleanLog</model>
                </run>
            </ameex_adminlog>
        </jobs>
    </crontab>
</config>
