/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */
/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */
/* Special class on .container surrounding .navbar, used for positioning it into place. */

.navbar-wrapper {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 20;
}
/* Flip around the padding for proper display in narrow viewports */

.navbar-wrapper > .container {
    padding-right: 0;
    padding-left: 0;
}
.navbar-wrapper .navbar {
    padding-right: 15px;
    padding-left: 15px;
}
.navbar-wrapper .navbar .container {
    width: auto;
}
/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */
/* Carousel base class */

.hero-slider {
    margin-bottom: 0px;
    float: right;
}
.hero-block-carosuel {
    width: 100%;
}
/* Since positioning the image, we need to help out the caption */

.hero-block-carosuel .carousel-caption {
    z-index: 10;
}
.hero-block-carosuel .carousel-caption {
    top: 38%;
}
/* Declare heights because of positioning of img element */

.hero-block-carosuel> .item > img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    opacity: 0.8;
}
/* MARKETING CONTENT
-------------------------------------------------- */
/* Center align the text within the three columns below the carousel */

.marketing .col-lg-4 {
    margin-bottom: 20px;
    text-align: center;
}
.marketing h2 {
    font-weight: normal;
}
.marketing .col-lg-4 p {
    margin-right: 10px;
    margin-left: 10px;
}
/* Featurettes
------------------------- */

.featurette-divider {
    margin: 80px 0;
    /* Space out the Bootstrap <hr> more */
}
/* Thin out the marketing headings */

.featurette-heading {
    font-weight: 300;
    line-height: 1;
    letter-spacing: -1px;
}
/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {} .transparent-arrow {
    background: none !important;
    opacity: 1;
}
.transparent-arrow .glyphicon {
    padding: 20px;
    top: 45%;
    font-size: 16px;
    position: absolute;
}
.transparent-arrow .glyphicon-menu-right {
    right: 0;
}
.transparent-arrow .glyphicon-menu-left {
    left: 0;
}
.transparent-arrow .glyphicon {
    background-color: #000;
    color: #e5e5e5;
}
.transparent-arrow .glyphicon:hover {
    background-color: #f7f1f4;
    color: #444444;
}
.hero-slider > .item {
    position: relative;
    float: none;
    display: none;
    -webkit-transition: 6s ease-in-out left;
    -moz-transition: 6s ease-in-out left;
    -o-transition: 6s ease-in-out left;
    transition: 6s ease-in-out left;
}
.lnkScrollUp {
    width: 32px;
    height: 32px;
    position: fixed;
    bottom: 50px;
    right: 10px !important;
    right: 100px;
    display: none;
    text-indent: -9999px;
    background: url('../images/scroll_up.png') no-repeat;
    z-index: 9999;
}
.hero-block-carosuel > .item {
    float: none;
}
#heroSlider .owl-stage-outer .owl-item {
    opacity: 1;
}
.hero-slider .item {
    border: 0 !important;
}
