<?xml version="1.0"?>
<!--
/**
 * Created by Magentix
 * Based on Module from "Excellence Technologies" (excellencetechnologies.in)
 *
 * @category   Magentix
 * @package    Magentix_Fee
 * @author     Matthieu Vion (http://www.magentix.fr)
 * @license    This work is free software, you can redistribute it and/or modify it
 */
-->
<config>
    <modules>
        <Magentix_Fee>
            <version>0.1.5</version>
        </Magentix_Fee>
    </modules>
    <global>
        <sales>
            <quote>
                <totals>
                    <fee>
                        <class>fee/sales_quote_address_total_fee</class>
                        <renderer>fee/checkout_totals_fee</renderer>
                        <admin_renderer>fee/adminhtml_sales_order_create_totals_fee</admin_renderer>
						<after>grand_total</after>
                    </fee>
                </totals>
            </quote>
            <order_invoice>
                <totals>
                    <fee>
                        <class>fee/sales_order_total_invoice_fee</class>
						<after>grand_total</after>
                    </fee>
                </totals>
            </order_invoice>
            <order_creditmemo>
                <totals>
                    <fee>
                        <class>fee/sales_order_total_creditmemo_fee</class>
						<after>grand_total</after>
                    </fee>
                </totals>
            </order_creditmemo>
        </sales>
        <events>
            <paypal_prepare_line_items>
                <observers>
                    <paypal_prepare_line_items>
                        <class>fee/observer</class>
                        <method>updatePaypalTotal</method>
                    </paypal_prepare_line_items>
                </observers>
            </paypal_prepare_line_items>
            <sales_order_invoice_save_after>
                <observers>
                    <sales_order_invoice_save_after>
                        <class>fee/observer</class>
                        <method>invoiceSaveAfter</method>
                    </sales_order_invoice_save_after>
                </observers>
            </sales_order_invoice_save_after>
            <sales_order_creditmemo_save_after>
                <observers>
                    <sales_order_creditmemo_save_after>
                        <class>fee/observer</class>
                        <method>creditmemoSaveAfter</method>
                    </sales_order_creditmemo_save_after>
                </observers>
            </sales_order_creditmemo_save_after>
			<sales_quote_item_set_product>
                <observers>
                    <Magentix_Fee>
                        <class>Magentix_Fee_Model_Observer</class>
                        <method>salesQuoteItemSetCustomAttribute</method>
                    </Magentix_Fee>
                </observers>
            </sales_quote_item_set_product>
            <checkout_cart_product_add_after>
			  <observers>
				<checkout_cart_product_add_after>
				  <type>singleton</type>
				  <class>Magentix_Fee_Model_Observer</class>
				  <method>zipAddToCart</method>
				</checkout_cart_product_add_after>
			  </observers>
			</checkout_cart_product_add_after>
        </events>
        <fieldsets>
		<sales_convert_quote_item>
            <shipping_cost>
                <to_order_item>*</to_order_item>
            </shipping_cost>
        </sales_convert_quote_item>
		<sales_convert_quote_item>
            <extra_shipping>
                <to_order_item>*</to_order_item>
            </extra_shipping>
        </sales_convert_quote_item>
            <sales_convert_quote_address>
			    <fee_amount>
                    <to_order>*</to_order>
                </fee_amount>
                <base_fee_amount>
                    <to_order>*</to_order>
                </base_fee_amount>
            </sales_convert_quote_address>
        </fieldsets>
        <pdf>
            <totals>
                <fee translate="title">
                    <title>Shipping Cost</title>
                    <source_field>fee_amount</source_field>
                    <font_size>7</font_size>
                    <display_zero>0</display_zero>
                    <sort_order>650</sort_order>
                    <amount_prefix></amount_prefix>
                </fee>
            </totals>
        </pdf>
        <resources>
            <fee_setup>
                <setup>
                    <module>Magentix_Fee</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </fee_setup>
        </resources>
        <models>
            <fee>
                <class>Magentix_Fee_Model</class>
            </fee>
        </models>
        <blocks>
            <fee>
                <class>Magentix_Fee_Block</class>
            </fee>
        </blocks>
        <helpers>
            <fee>
                <class>Magentix_Fee_Helper</class>
            </fee>
        </helpers>
    </global>
    <frontend>
        <layout>
            <updates>
                <fee>
                    <file>fee.xml</file>
                </fee>
            </updates>
        </layout>
    </frontend>
	
    <adminhtml>
	    <acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<system>
							<children>
								<config>
									<children>
										<fee>
											<title>fee</title>
										</fee>
									</children>
								</config>
							</children>
						</system>
					</children>
				</admin>
			</resources>
		</acl>
        <layout>
            <updates>
                <fee>
                    <file>fee.xml</file>
                </fee>
            </updates>
        </layout>
    </adminhtml>
    <default>
        <sales>
		
            <totals_sort>
                <fee>15</fee>
            </totals_sort>
        </sales>
    </default>
</config>
