<?xml version="1.0"?>
<config>
	<modules>
		<Msupply_Neft>
			<version>1.0.0</version>
		</Msupply_Neft>
	</modules>
	<global>
		<helpers>
			<neft>
				<class>Msupply_Neft_Helper</class>
			</neft>
		</helpers>
		<blocks>
			<neft>
				<class>Msupply_Neft_Block</class>
			</neft>
		</blocks>
		<models>
			<neft>
				<class>Msupply_Neft_Model</class>
				<resourceModel>neft_mysql4</resourceModel>
			</neft>
		</models>
		<resources>
			<neft_setup>
				<setup>
					<module>Msupply_Neft</module>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</neft_setup>
			<neft_read>
				<connection>
					<use>core_read</use>
				</connection>
			</neft_read>
			<neft_write>
				<connection>
					<use>core_write</use>
				</connection>
			</neft_write>
		</resources>
		<fieldsets>
             <sales_convert_quote_payment>
                <transaction_id>
                    <to_order_payment>*</to_order_payment>
                </transaction_id>
             </sales_convert_quote_payment>
        </fieldsets>
	</global>
	<frontend>
		<layout>
			<updates>
				<neft>
					<file>neft.xml</file>
				</neft>
			</updates>
		</layout>
		<routers>
			<neft>
				<use>standard</use>
				<args>
					<module>Msupply_Neft</module>
					<frontName>customcard</frontName>
				</args>
			</neft>
		</routers>
	</frontend>
	<default>
		<payment>
            <neft>
                <active>1</active>
                <model>neft/neft</model>
                <order_status>processing</order_status>
                <title>NEFT Payment</title>
            </neft>
		<!--	<neft_checkout>
                <active>1</active>
                <model>neft/standard</model>
                <order_status>processing</order_status>
                <title>Custom Gateway</title>
				<payment_action>sale</payment_action>
				<submit_url>https://www.google.com</submit_url>
				<merchant_id>Insert merchant id</merchant_id>
				<allowspecific>0</allowspecific>
				<sort_order>1</sort_order>
            </neft_checkout> -->
         </payment>
	</default>
</config>
