<?xml version="1.0" ?> 
<config>
	<modules>
		<Celusion_SMSConneXion>
			<version>1.0</version> 
		</Celusion_SMSConneXion>
	</modules>
	
<global>	
	<models>
            <smsconnexion>
                <class>Celusion_SMSConneXion_Model</class>  
				<resourceModel>smsconnexion_mysql4</resourceModel>             
            </smsconnexion>
            <smsconnexion_mysql4>
                <class>Celusion_SMSConneXion_Model_Mysql4</class> 
				 <entities>
                    <smsconnexion>
                        <table>smsconnexion</table>
                    </smsconnexion>
                </entities>              
            </smsconnexion_mysql4>
    </models>
	<resources>
        <smsconnexion_setup>
            <setup>
                <module>Celusion_SMSConneXion</module>
                <class>Celusion_SMSConneXion_Model_Resource_Setup</class>
            </setup>
        </smsconnexion_setup>
    </resources>
	
	<helpers>
       <smsconnexion>
	       <class>Celusion_SMSConneXion_Helper</class>
	   </smsconnexion>
    </helpers>
	<blocks>
        <smsconnexion>
          <class>Celusion_SMSConneXion_Block</class>
        </smsconnexion>
   	</blocks>
</global>   
	<admin>
		<routers>
			<smsconnexion>
				<use>admin</use>
					<args>
						<module>Celusion_SMSConneXion</module>
						<frontName>smsconnexion</frontName>
					</args>
			</smsconnexion>
		</routers>
	</admin> 
	<adminhtml>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <smsconnexion>
                                            <title>SMS ConneXion</title>
                                        </smsconnexion>
										<smsconnexion_account_setup>
											<title>Account Information</title>				                            
										</smsconnexion_account_setup>
										<smsconnexion_balance_setup>
											<title>Balance Information</title>				                            
										</smsconnexion_balance_setup>
										<smsconnexion_sms_alerts>
											<title>SMS Configuration</title>				                            
										</smsconnexion_sms_alerts>
                                    </children>
                                </config>
                            </children>
                        </system>
                        <Celusion_SMSConneXion>
                            <title>SMS ConneXion</title>
                            <sort_order>20</sort_order>
                        </Celusion_SMSConneXion>						
                    </children>
                </admin>
			<smsconnexion_setup>
                <setup>
                    <module>Celusion_SMSConneXion</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </smsconnexion_setup>
            </resources>
        </acl>
<events>
	<order_cancel_after>
			<observers>
				<send_ordercancel_sms>
					<class>Celusion_SMSConneXion_Model_Observer</class>
					<method>sendOrderCancelAlerts</method>
				</send_ordercancel_sms>
			</observers>
	</order_cancel_after>	
	<sales_order_save_after>
			<observers>
				<send_orderstatus_sms>
					<class>Celusion_SMSConneXion_Model_Observer</class>
					<method>sendOrderStatusAlerts</method>
				</send_orderstatus_sms>
			</observers>
	</sales_order_save_after>
	<sales_order_invoice_register>
		<observers>
			<send_orderstatus_sms>
				<class>Celusion_SMSConneXion_Model_Observer</class>
				<method>sendInvoiceAlerts</method>
			</send_orderstatus_sms>
		</observers>
	</sales_order_invoice_register>	
	<sales_order_payment_void>
		<observers>
				<send_paymentvoid_sms>
					<class>Celusion_SMSConneXion_Model_Observer</class>
					<method>sendPaymentVoidAlerts</method>
				</send_paymentvoid_sms>
		</observers>
	</sales_order_payment_void>
	<sales_order_creditmemo_refund>
		<observers>
				<send_paymentvoid_sms>
					<class>Celusion_SMSConneXion_Model_Observer</class>
					<method>sendCreditmemoAlerts</method>
				</send_paymentvoid_sms>
		</observers>
	</sales_order_creditmemo_refund>
	<sales_order_shipment_save_after>
		<observers>
				<send_shipmentcreation_sms>
					<class>Celusion_SMSConneXion_Model_Observer</class>
					<method>sendShipmentCreationAlerts</method>
				</send_shipmentcreation_sms>
		</observers>
	</sales_order_shipment_save_after>
	
	<!--<order_cancel_after>
		<observers>
				<order_cancel_after>
					<class>Celusion_SMSConneXion_Model_Observer</class>
					<method>sendCanceOrderMail</method>
				</order_cancel_after>
		</observers>
	</order_cancel_after>-->
	
<!--	<sales_order_save_commit_after>
		<observers>
				<send_ordercomplete_sms>
					<class>Celusion_SMSConneXion_Model_Observer</class>
					<method>sendOrderCompleteAlerts</method>
				</send_ordercomplete_sms>
		</observers>
	</sales_order_save_commit_after>-->
</events>	

</adminhtml>

	<frontend>
		<events>
			<customer_register_success>
				<observers>
					<send_newuser_sms>
						<type>model</type>
						<class>Celusion_SMSConneXion_Model_Observer</class>
						<method>sendNewUserAlerts</method>
					</send_newuser_sms>
				</observers>
			</customer_register_success>
			<checkout_onepage_controller_success_action>
				<observers>
					<send_order_sms>
						<class>Celusion_SMSConneXion_Model_Observer</class>
						<method>sendOrderAlerts</method>
					</send_order_sms>
				</observers>
			</checkout_onepage_controller_success_action>	
		<controller_action_postdispatch_customer_account_forgotpasswordpost>
			<observers>
				<send_forgetpassword_sms>
					<class>Celusion_SMSConneXion_Model_Observer</class>
					<method>sendForgetPasswordAlerts</method>
				</send_forgetpassword_sms>
			</observers>
		</controller_action_postdispatch_customer_account_forgotpasswordpost>	


        <customer_save_after>
				<observers>
					<send_upatepassword_sms>
						<type>model</type>
						<class>Celusion_SMSConneXion_Model_Observer</class>
						<method>sendUpdatePasswordAlerts</method>
					</send_upatepassword_sms>
				</observers>
		</customer_save_after> 

		
		</events>
	</frontend>				
	<default>
    <smsconnexion_sms_alerts>
      <newuser_group>
        <enabled>1</enabled>
		<messagecustomer>Thank you for your registration.</messagecustomer>
      </newuser_group>
    </smsconnexion_sms_alerts>
</default>
</config>
