<?xml version="1.0" ?>
<config>
	<tabs>
		<smsconnexion translate="label" module="smsconnexion">
			<label>SMS ConneXion</label> 
			<sort_order>500</sort_order> 
		</smsconnexion>
	</tabs>
	<sections>
		<smsconnexion_account_setup translate="label" module="smsconnexion">
			<label>Account Information</label> 
			<tab>smsconnexion</tab> 
			<frontend_type>text</frontend_type> 
			<sort_order>501</sort_order> 
			<show_in_default>1</show_in_default> 
			<show_in_website>1</show_in_website> 
			<show_in_store>1</show_in_store>
			<groups> <!-- It will add a new group of options on the configuration page -->
                		<account_group> <!-- Name of the option group -->
                    			<label>SMS ConneXion Account Information</label>
                    			<comment>Enter your SMS ConneXion account details</comment>
								<expanded>1</expanded>
                    			<sort_order>10</sort_order>
                    			<show_in_default>1</show_in_default>
                    			<show_in_website>1</show_in_website>
                    			<show_in_store>1</show_in_store>
							<fields> <!-- This section will add new options to our group -->
                        			<smsconnexion_username translate="label tooltip comment"> <!-- New option created here -->
                            				<label>Username</label> <!-- Text to be displayed-->
                            				<frontend_type>text</frontend_type>
                            				<sort_order>0</sort_order>
                            				<show_in_default>1</show_in_default>
                            				<show_in_website>1</show_in_website>
                            				<show_in_store>1</show_in_store>
                  					<comment>SMS ConneXion username.</comment> <!-- Help text for the option -->
                        			</smsconnexion_username>
                        			<smsconnexion_password translate="label tooltip comment">
                            				<label>Password</label>
                            				<frontend_type>password</frontend_type>
                            				<sort_order>1</sort_order>
                            				<show_in_default>1</show_in_default>
                            				<show_in_website>1</show_in_website>
                            				<show_in_store>1</show_in_store>
                    					<comment>SMS ConneXion password.</comment>
                        			</smsconnexion_password>
									<smsconnexion_secret translate="label tooltip comment">
                            				<label>Secret Key</label>
                            				<frontend_type>text</frontend_type>
                            				<sort_order>2</sort_order>
                            				<show_in_default>1</show_in_default>
                            				<show_in_website>1</show_in_website>
                            				<show_in_store>1</show_in_store>
                    					<comment>SMS ConneXion Secret Key.</comment>
                        			</smsconnexion_secret>
                    			</fields>
                		</account_group>
            		</groups> 
		</smsconnexion_account_setup>	
		<smsconnexion_balance_setup module="smsconnexion">
			<label>Balance Information</label> 
			<tab>smsconnexion</tab> 
			<sort_order>502</sort_order> 
			<show_in_default>1</show_in_default> 
			<show_in_website>1</show_in_website> 
			<show_in_store>1</show_in_store>
			<backend_model>smsconnexion/adminhtml_smsconnexion_balance</backend_model>
			  <groups>
				<balance>
				<label>SMS ConneXion Balance Information</label>
                    			<comment>SMS ConneXion balance details</comment>
								<expanded>1</expanded>
                    			<sort_order>10</sort_order>
                    			<show_in_default>1</show_in_default>
                    			<show_in_website>1</show_in_website>
                    			<show_in_store>1</show_in_store>
				<fields>
					<smsconnexion_usertype>
						<label>Account Type</label>
          				<frontend_type>select</frontend_type>
						<source_model>smsconnexion/SMSConneXion</source_model>  
            			<sort_order>1</sort_order>
            			<show_in_default>1</show_in_default>
            			<show_in_website>1</show_in_website>
            			<show_in_store>1</show_in_store>
					</smsconnexion_usertype>
					<smsconnexion_balance1>
						<label>Balance Credit</label>
          				<frontend_type>select</frontend_type>
						<source_model>smsconnexion/smsbalance</source_model>  
            			<sort_order>2</sort_order>
            			<show_in_default>1</show_in_default>
            			<show_in_website>1</show_in_website>
            			<show_in_store>1</show_in_store>
					</smsconnexion_balance1>
				</fields>
				</balance>
			</groups>
		</smsconnexion_balance_setup>					
		<smsconnexion_sms_alerts module="smsconnexion">
			<label>SMS Configuration</label> 
			<tab>smsconnexion</tab> 
			<frontend_type>text</frontend_type> 
			<sort_order>503</sort_order> 
			<show_in_default>1</show_in_default> 
			<show_in_website>1</show_in_website> 
			<show_in_store>1</show_in_store>
	<groups>		  
        <newuser_group translate="label">
          <label>New User Registration</label>
          <sort_order>20</sort_order>
          <show_in_default>1</show_in_default>
          <show_in_website>1</show_in_website>
          <show_in_store>1</show_in_store>
		   <comment>Donot use 'enter key' or any special character, otherwise sms will not be send.</comment>
          <fields>
            <!-- New fields go here -->
            <enabled translate="label comment">
              <label>Enabled</label>
              <frontend_type>select</frontend_type>
              <source_model>adminhtml/system_config_source_yesno</source_model>
              <sort_order>10</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
            </enabled>
		  <messagecustomer translate="label comment">
              <label>Message (Customer)</label>
              <frontend_type rows="1">textarea</frontend_type>
              <sort_order>20</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
			  <comment><![CDATA[Use the following BBCode 'customer name' = {{name}}, 'Email' = {{email}}, 'mobile' = {{mobile}} 'store name' = {{store}}.]]></comment>
            </messagecustomer>
		<mobilestaff translate="label comment">
              <label>Mobile Numbers (Office Staff)</label>
              <frontend_type>text</frontend_type>
              <sort_order>30</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
              <comment>Use comma to separate multiple mobile numbers.</comment>
                </mobilestaff>				
		<messagestaff translate="label comment">
              <label>Message (Office Staff)</label>
              <frontend_type>textarea</frontend_type>
              <sort_order>40</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>        
              <show_in_store>1</show_in_store>
              <comment><![CDATA[Use the following BBCode 'customer name' = {{name}}, 'Email' = {{email}}, 'mobile' = {{mobile}} 'store name' = {{store}}.]]></comment>
            </messagestaff>
          </fields>
        </newuser_group>
		
		
		<!-- Upadte Password  start-->
		 <updatepassword_group translate="label">
          <label>Update Password SMS</label>
          <sort_order>25</sort_order>
          <show_in_default>1</show_in_default>
          <show_in_website>1</show_in_website>
          <show_in_store>1</show_in_store>
		   <comment>Donot use 'enter key' or any special character, otherwise sms will not be send.</comment>
          <fields>
            <enabled translate="label comment">
              <label>Enabled</label>
              <frontend_type>select</frontend_type>
              <source_model>adminhtml/system_config_source_yesno</source_model>
              <sort_order>10</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
            </enabled>
		  <messagecustomer translate="label comment">
              <label>Message (Customer)</label>
              <frontend_type rows="1">textarea</frontend_type>
              <sort_order>20</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
			  <comment><![CDATA[Use the following BBCode 'customer name' = {{name}}, 'Email' = {{email}}, 'mobile' = {{mobile}} 'store name' = {{store}}.]]></comment>
            </messagecustomer>
		<mobilestaff translate="label comment">
              <label>Mobile Numbers (Office Staff)</label>
              <frontend_type>text</frontend_type>
              <sort_order>30</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
              <comment>Use comma to separate multiple mobile numbers.</comment>
                </mobilestaff>				
		<messagestaff translate="label comment">
              <label>Message (Office Staff)</label>
              <frontend_type>textarea</frontend_type>
              <sort_order>40</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>        
              <show_in_store>1</show_in_store>
              <comment><![CDATA[Use the following BBCode 'customer name' = {{name}}, 'Email' = {{email}}, 'mobile' = {{mobile}} 'store name' = {{store}}.]]></comment>
            </messagestaff>
          </fields>
        </updatepassword_group>
		
		<!-- Upadte Password  end-->
		
		
	<forgetpassword_group translate="label">
          <label>Forget Password</label>
          <sort_order>30</sort_order>
          <show_in_default>1</show_in_default>
          <show_in_website>1</show_in_website>
          <show_in_store>1</show_in_store>
          <fields>
            <!-- New fields go here -->
            <enabled translate="label comment">
              <label>Enabled</label>
              <frontend_type>select</frontend_type>
              <source_model>adminhtml/system_config_source_yesno</source_model>
              <sort_order>10</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
            </enabled>
              <messagecustomer translate="label comment">
              <label>Message (Customer)</label>
              <frontend_type rows="1">textarea</frontend_type>
              <sort_order>20</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
              <comment><![CDATA[Use the following BBCode 'customer name' = {{name}}, 'store name' = {{store}}, 'customer new password' = {{password}}.]]></comment>
            </messagecustomer>
                
          </fields>
        </forgetpassword_group>
	<admin_order_group>
		<label>Admin Order</label>
		<sort_order>35</sort_order>
		<show_in_default>1</show_in_default>
		<show_in_website>1</show_in_website>
		<show_in_store>1</show_in_store>
		<fields>
			<!-- New fields go here -->
			<enabled translate="label comment">
				<label>Enabled</label>
				<frontend_type>select</frontend_type>
				<source_model>adminhtml/system_config_source_yesno</source_model>
				<sort_order>10</sort_order>
				<show_in_default>1</show_in_default>
				<show_in_website>1</show_in_website>
				<show_in_store>1</show_in_store>
			</enabled>
			<messagecustomer translate="label comment">
				<label>Message (Customer)</label>
				<frontend_type rows="1">textarea</frontend_type>
				<sort_order>20</sort_order>
				<show_in_default>1</show_in_default>
				<show_in_website>1</show_in_website>
				<show_in_store>1</show_in_store>
				<comment>Use the following BBCode 'name' = {{name}}, 'store name' = {{store}}, 'order#' = {{order}}, 'purchase date' = {{date}}, 'grand total' = {{total}}, 'currency code' = {{code}}.</comment>
			</messagecustomer>
			<mobilestaff translate="label comment">
				<label>Mobile Numbers (Office Staff)</label>
				<frontend_type>text</frontend_type>
				<sort_order>30</sort_order>
				<show_in_default>1</show_in_default>
				<show_in_website>1</show_in_website>
				<show_in_store>1</show_in_store>
				<comment>Use comma to separate multiple mobile numbers.</comment>
			</mobilestaff>
			<messagestaff translate="label comment">
				<label>Message (Office Staff)</label>
				<frontend_type>textarea</frontend_type>
				<sort_order>40</sort_order>
				<show_in_default>1</show_in_default>
				<show_in_website>1</show_in_website>
				<show_in_store>1</show_in_store>
				<comment>Use the following BBCode 'name' = {{name}}, 'store name' = {{store}}, 'order#' = {{order}}, 'purchase date' = {{date}}, 'grand total' = {{total}}, 'currency code' = {{code}}.</comment>
			</messagestaff>
		</fields>
	</admin_order_group>
	<order_group translate="label">
          <label>Order</label>
          <sort_order>40</sort_order>
          <show_in_default>1</show_in_default>
          <show_in_website>1</show_in_website>
          <show_in_store>1</show_in_store>
          <fields>
            <!-- New fields go here -->
            <enabled translate="label comment">
              <label>Enabled</label>
              <frontend_type>select</frontend_type>
              <source_model>adminhtml/system_config_source_yesno</source_model>
              <sort_order>10</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
            </enabled>
              <messagecustomer translate="label comment">
              <label>Message (Customer)</label>
              <frontend_type rows="1">textarea</frontend_type>
              <sort_order>20</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
              <comment>Use the following BBCode 'name' = {{name}}, 'store name' = {{store}}, 'order#' = {{order}}, 'purchase date' = {{date}}, 'grand total' = {{total}}, 'currency code' = {{code}}.</comment>
            </messagecustomer>
                <mobilestaff translate="label comment">
              <label>Mobile Numbers (Office Staff)</label>
              <frontend_type>text</frontend_type>
              <sort_order>30</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
                <comment>Use comma to separate multiple mobile numbers.</comment>
                </mobilestaff>
              <messagestaff translate="label comment">
              <label>Message (Office Staff)</label>
              <frontend_type>textarea</frontend_type>
              <sort_order>40</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
              <comment>Use the following BBCode 'name' = {{name}}, 'store name' = {{store}}, 'order#' = {{order}}, 'purchase date' = {{date}}, 'grand total' = {{total}}, 'currency code' = {{code}}.</comment>
            </messagestaff>
          </fields>
        </order_group>
		<order_cancel_group>
		  <label>Order Cancel</label>
          <sort_order>50</sort_order>
          <show_in_default>1</show_in_default>
          <show_in_website>1</show_in_website>
          <show_in_store>1</show_in_store>
          <fields>
            <!-- New fields go here -->
            <enabled translate="label comment">
              <label>Enabled</label>
              <frontend_type>select</frontend_type>
              <source_model>adminhtml/system_config_source_yesno</source_model>
              <sort_order>10</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
            </enabled>
            <messagecustomer translate="label comment">
              <label>Message (Customer)</label>
              <frontend_type rows="1">textarea</frontend_type>
              <sort_order>20</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
              <comment>Use the following BBCode 'name' = {{name}}, 'store name' = {{store}}, 'order#' = {{order}}, 'purchase date' = {{date}}.</comment>
            </messagecustomer>
            <mobilestaff translate="label comment">
              <label>Mobile Numbers (Office Staff)</label>
              <frontend_type>text</frontend_type>
              <sort_order>30</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
                <comment>Use comma to separate multiple mobile numbers.</comment>
            </mobilestaff>
             <messagestaff translate="label comment">
              <label>Message (Office Staff)</label>
              <frontend_type>textarea</frontend_type>
              <sort_order>40</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
              <comment>Use the following BBCode 'name' = {{name}}, 'store name' = {{store}}, 'order#' = {{order}}, 'purchase date' = {{date}}.</comment>
            </messagestaff>
          </fields>
		</order_cancel_group>
		<order_hold_group>
		  <label>Order Hold</label>
          <sort_order>60</sort_order>
          <show_in_default>1</show_in_default>
          <show_in_website>1</show_in_website>
          <show_in_store>1</show_in_store>
          <fields>
            <!-- New fields go here -->
            <enabled translate="label comment">
              <label>Enabled</label>
              <frontend_type>select</frontend_type>
              <source_model>adminhtml/system_config_source_yesno</source_model>
              <sort_order>10</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
            </enabled>
                  <messagecustomer translate="label comment">
              <label>Message (Customer)</label>
              <frontend_type rows="1">textarea</frontend_type>
              <sort_order>20</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
              <comment>Use the following BBCode 'name' = {{name}}, 'store name' = {{store}}, 'order#' = {{order}}, 'purchase date' = {{date}}.</comment>
            </messagecustomer>
                <mobilestaff translate="label comment">
              <label>Mobile Numbers (Office Staff)</label>
              <frontend_type>text</frontend_type>
              <sort_order>30</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
                <comment>Use comma to separate multiple mobile numbers.</comment>
                </mobilestaff>
                <messagestaff translate="label comment">
              <label>Message (Office Staff)</label>
              <frontend_type>textarea</frontend_type>
              <sort_order>40</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
              <comment>Use the following BBCode 'name' = {{name}}, 'store name' = {{store}}, 'order#' = {{order}}, 'purchase date' = {{date}}.</comment>
            </messagestaff>
          </fields>
		</order_hold_group>
		<order_unhold_group>
		  <label>Order Unhold</label>
          <sort_order>70</sort_order>
          <show_in_default>1</show_in_default>
          <show_in_website>1</show_in_website>
          <show_in_store>1</show_in_store>
          <fields>
            <!-- New fields go here -->
            <enabled translate="label comment">
              <label>Enabled</label>
              <frontend_type>select</frontend_type>
              <source_model>adminhtml/system_config_source_yesno</source_model>
              <sort_order>10</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
            </enabled>
            <messagecustomer translate="label comment">
              <label>Message (Customer)</label>
              <frontend_type rows="1">textarea</frontend_type>
              <sort_order>20</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
              <comment>Use the following BBCode 'name' = {{name}}, 'store name' = {{store}}, 'order#' = {{order}}, 'purchase date' = {{date}}.</comment>
            </messagecustomer>
            <mobilestaff translate="label comment">
              <label>Mobile Numbers (Office Staff)</label>
              <frontend_type>text</frontend_type>
              <sort_order>30</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
                <comment>Use comma to separate multiple mobile numbers.</comment>
            </mobilestaff>
            <messagestaff translate="label comment">
              <label>Message (Office Staff)</label>
              <frontend_type>textarea</frontend_type>
              <sort_order>40</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
              <comment>Use the following BBCode 'name' = {{name}}, 'store name' = {{store}}, 'order#' = {{order}}, 'purchase date' = {{date}}.</comment>
            </messagestaff>
          </fields>
	</order_unhold_group>
	<!-- <payment_review_group translate="label">
          <label>Payment Review</label>
          <sort_order>90</sort_order>
          <show_in_default>1</show_in_default>
          <show_in_website>1</show_in_website>
          <show_in_store>1</show_in_store>
          <fields>            
            <enabled translate="label comment">
              <label>Enabled</label>
              <frontend_type>select</frontend_type>
              <source_model>adminhtml/system_config_source_yesno</source_model>
              <sort_order>10</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
            </enabled>
                  <messagecustomer translate="label comment">
              <label>Message (Customer)</label>
              <frontend_type rows="1">textarea</frontend_type>
              <sort_order>20</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
              <comment>Use the following BBCode 'name' = {{name}}, 'store name' = {{store}}, 'order#' = {{order}}, 'purchase date' = {{date}}.</comment>
            </messagecustomer>
                <mobilestaff translate="label comment">
              <label>Mobile Numbers (Office Staff)</label>
              <frontend_type>text</frontend_type>
              <sort_order>30</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
                <comment>Use comma to separate multiple mobile numbers.</comment>
                </mobilestaff>
                <messagestaff translate="label comment">
              <label>Message (Office Staff)</label>
              <frontend_type>textarea</frontend_type>
              <sort_order>40</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
                <comment>Use the following BBCode 'name' = {{name}}, 'store name' = {{store}}, 'order#' = {{order}}, 'purchase date' = {{date}}.</comment>
            </messagestaff>
          </fields>
        </payment_review_group>-->
		<void_payment_group translate="label">
          <label>On Void Payment </label>
          <sort_order>100</sort_order>
          <show_in_default>1</show_in_default>
          <show_in_website>1</show_in_website>
          <show_in_store>1</show_in_store>
          <fields>
            <!-- New fields go here -->
            <enabled translate="label comment">
              <label>Enabled</label>
              <frontend_type>select</frontend_type>
              <source_model>adminhtml/system_config_source_yesno</source_model>
              <sort_order>10</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
            </enabled>
            <messagecustomer translate="label comment">
              <label>Message (Customer)</label>
              <frontend_type rows="1">textarea</frontend_type>
              <sort_order>20</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
                <comment>Use the following BBCode 'name' = {{name}}, 'store name' = {{store}}, 'order#' = {{order}}, 'purchase date' = {{date}}.</comment>
            </messagecustomer>
                <mobilestaff translate="label comment">
              <label>Mobile Numbers (Office Staff)</label>
              <frontend_type>text</frontend_type>
              <sort_order>30</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
                <comment>Use comma to separate multiple mobile numbers.</comment>
                </mobilestaff>
                <messagestaff translate="label comment">
              <label>Message (Office Staff)</label>
              <frontend_type>textarea</frontend_type>
              <sort_order>40</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
                <comment>Use the following BBCode 'name' = {{name}}, 'store name' = {{store}}, 'order#' = {{order}}, 'purchase date' = {{date}}.</comment>
            </messagestaff>
          </fields>
        </void_payment_group>
		
	<invoice_group translate="label">
          <label>Invoice</label>
          <sort_order>110</sort_order>
          <show_in_default>1</show_in_default>
          <show_in_website>1</show_in_website>
          <show_in_store>1</show_in_store>
          <fields>
            <!-- New fields go here -->
            <enabled translate="label comment">
              <label>Enabled</label>
              <frontend_type>select</frontend_type>
              <source_model>adminhtml/system_config_source_yesno</source_model>
              <sort_order>10</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
            </enabled>
            <messagecustomer translate="label comment">
              <label>Message (Customer)</label>
              <frontend_type rows="1">textarea</frontend_type>
              <sort_order>20</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
                <comment>Use the following BBCode 'name' = {{name}}, 'store name' = {{store}}, 'order#' = {{order}}, 'purchase date' = {{date}}.</comment>
            </messagecustomer>
                <mobilestaff translate="label comment">
              <label>Mobile Numbers (Office Staff)</label>
              <frontend_type>text</frontend_type>
              <sort_order>30</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
                <comment>Use comma to separate multiple mobile numbers.</comment>
                </mobilestaff>
                <messagestaff translate="label comment">
              <label>Message (Office Staff)</label>
              <frontend_type>textarea</frontend_type>
              <sort_order>40</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
                <comment>Use the following BBCode 'name' = {{name}}, 'store name' = {{store}}, 'order#' = {{order}}, 'purchase date' = {{date}}.</comment>
            </messagestaff>
          </fields>
        </invoice_group>
	
	<shipment_group translate="label">
          <label>Shipment</label>
          <sort_order>130</sort_order>
          <show_in_default>1</show_in_default>
          <show_in_website>1</show_in_website>
          <show_in_store>1</show_in_store>
          <fields>
            <!-- New fields go here -->
            <enabled translate="label comment">
              <label>Enabled</label>
              <frontend_type>select</frontend_type>
              <source_model>adminhtml/system_config_source_yesno</source_model>
              <sort_order>10</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
            </enabled>
                  <messagecustomer translate="label comment">
              <label>Message (Customer)</label>
              <frontend_type rows="1">textarea</frontend_type>
              <sort_order>20</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
                <comment>Use the following BBCode 'name' = {{name}}, 'store name' = {{store}}, 'order#' = {{order}}, 'purchase date' = {{date}}, 'shipment name' = {{title}}, 'tracking#' = {{tracking}}.</comment>
            </messagecustomer>
                <mobilestaff translate="label comment">
              <label>Mobile Numbers (Office Staff)</label>
              <frontend_type>text</frontend_type>
              <sort_order>30</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
                <comment>Use comma to separate multiple mobile numbers.</comment>
                </mobilestaff>
                <messagestaff translate="label comment">
              <label>Message (Office Staff)</label>
              <frontend_type>textarea</frontend_type>
              <sort_order>40</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
                <comment>Use the following BBCode 'name' = {{name}}, 'store name' = {{store}}, 'order#' = {{order}}, 'purchase date' = {{date}}, 'shipment name' = {{title}}, 'tracking#' = {{tracking}}.</comment>
            </messagestaff>
          </fields>
        </shipment_group>	
	<creditmemo_group translate="label">
          <label>Credit Memo</label>
          <sort_order>150</sort_order>
          <show_in_default>1</show_in_default>
          <show_in_website>1</show_in_website>
          <show_in_store>1</show_in_store>
          <fields>
            <!-- New fields go here -->
            <enabled translate="label comment">
              <label>Enabled</label>
              <frontend_type>select</frontend_type>
              <source_model>adminhtml/system_config_source_yesno</source_model>
              <sort_order>10</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
            </enabled>
                  <messagecustomer translate="label comment">
              <label>Message (Customer)</label>
              <frontend_type rows="1">textarea</frontend_type>
              <sort_order>20</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
                <comment>Use the following BBCode 'name' = name], 'store name' = [store], 'order#' = [order], 'purchase date' = [date].</comment>
            </messagecustomer>
                <mobilestaff translate="label comment">
              <label>Mobile Numbers (Office Staff)</label>
              <frontend_type>text</frontend_type>
              <sort_order>30</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
                <comment>Use comma to separate multiple mobile numbers.</comment>
                </mobilestaff>
                <messagestaff translate="label comment">
              <label>Message (Office Staff)</label>
              <frontend_type>textarea</frontend_type>
              <sort_order>40</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
                <comment>Use the following BBCode 'name' = [name], 'store name' = [store], 'order#' = [order], 'purchase date' = [date].</comment>
            </messagestaff>
          </fields>
        </creditmemo_group>		
		
		
		<!-- Order confirmation smas seller satrt -->
	<supplierorderconfirm_group translate="label">
          <label>Order confirmation SMS for supplier</label>
          <sort_order>250</sort_order>
          <show_in_default>1</show_in_default>
          <show_in_website>1</show_in_website>
          <show_in_store>1</show_in_store>
          <fields>
            <enabled translate="label comment">
              <label>Enabled</label>
              <frontend_type>select</frontend_type>
              <source_model>adminhtml/system_config_source_yesno</source_model>
              <sort_order>10</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
            </enabled>
            <messagecustomer translate="label comment">
              <label>Message (Customer)</label>
              <frontend_type rows="1">textarea</frontend_type>
              <sort_order>20</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
              <comment>Use the following BBCode 'name' = name], 'store name' = [store], 'order#' = [order].</comment>
            </messagecustomer>
              <mobilestaff translate="label comment">
              <label>Mobile Numbers (Office Staff)</label>
              <frontend_type>text</frontend_type>
              <sort_order>30</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
              <comment>Use comma to separate multiple mobile numbers.</comment>
              </mobilestaff>
              <messagestaff translate="label comment">
              <label>Message (Office Staff)</label>
              <frontend_type>textarea</frontend_type>
              <sort_order>40</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
                <comment>Use the following BBCode 'name' = [name], 'store name' = [store], 'order#' = [order].</comment>
            </messagestaff>
          </fields>
        </supplierorderconfirm_group>	
        <!-- Order confirmation sms seller end -->	
	
	<!-- Order cancel sms seller satrt -->
	<supplierordercancel_group translate="label">
          <label>Order cancel SMS for supplier</label>
          <sort_order>350</sort_order>
          <show_in_default>1</show_in_default>
          <show_in_website>1</show_in_website>
          <show_in_store>1</show_in_store>
          <fields>
            <enabled translate="label comment">
              <label>Enabled</label>
              <frontend_type>select</frontend_type>
              <source_model>adminhtml/system_config_source_yesno</source_model>
              <sort_order>10</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
            </enabled>
            <messagecustomer translate="label comment">
              <label>Message (Customer)</label>
              <frontend_type rows="1">textarea</frontend_type>
              <sort_order>20</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
              <comment>Use the following BBCode 'name' = name], 'store name' = [store], 'order#' = [order].</comment>
            </messagecustomer>
              <mobilestaff translate="label comment">
              <label>Mobile Numbers (Office Staff)</label>
              <frontend_type>text</frontend_type>
              <sort_order>30</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
              <comment>Use comma to separate multiple mobile numbers.</comment>
              </mobilestaff>
              <messagestaff translate="label comment">
              <label>Message (Office Staff)</label>
              <frontend_type>textarea</frontend_type>
              <sort_order>40</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
                <comment>Use the following BBCode 'name' = [name], 'store name' = [store], 'order#' = [order].</comment>
            </messagestaff>
          </fields>
        </supplierordercancel_group>	
        <!-- Order cancel sms seller end -->
		<!-- cheque Order sms  satrt -->
	<chequeordersms_group translate="label">
          <label>Cheque Order SMS for Customer</label>
          <sort_order>350</sort_order>
          <show_in_default>1</show_in_default>
          <show_in_website>1</show_in_website>
          <show_in_store>1</show_in_store>
          <fields>
            <enabled translate="label comment">
              <label>Enabled</label>
              <frontend_type>select</frontend_type>
              <source_model>adminhtml/system_config_source_yesno</source_model>
              <sort_order>10</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
            </enabled>
            <messagecustomer translate="label comment">
              <label>Message (Customer)</label>
              <frontend_type rows="1">textarea</frontend_type>
              <sort_order>20</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
              <comment>Use the following BBCode 'name' = name], 'store name' = [store], 'order#' = [order].</comment>
            </messagecustomer>
              <mobilestaff translate="label comment">
              <label>Mobile Numbers (Office Staff)</label>
              <frontend_type>text</frontend_type>
              <sort_order>30</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
              <comment>Use comma to separate multiple mobile numbers.</comment>
              </mobilestaff>
              <messagestaff translate="label comment">
              <label>Message (Office Staff)</label>
              <frontend_type>textarea</frontend_type>
              <sort_order>40</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
                <comment>Use the following BBCode 'name' = [name], 'store name' = [store], 'order#' = [order].</comment>
            </messagestaff>
          </fields>
     </chequeordersms_group>	
        <!-- Cheque Order sms seller end -->
		
      </groups> 
		</smsconnexion_sms_alerts>
	</sections>
</config>
