<?xml version="1.0"?>
<!--
/**
 * Created by Magentix
 * Based on Module from "Excellence Technologies" (excellencetechnologies.in)
 *
 * @category   Magentix
 * @package    Magentix_Payumoneycharge
 * @author     Matthieu Vion (http://www.magentix.fr)
 * @license    This work is free software, you can redistribute it and/or modify it
 */
-->
<config>
    <modules>
        <Magentix_Payumoneycharge>
            <version>0.1.5</version>
        </Magentix_Payumoneycharge>
    </modules>
    <global>
        <sales>
            <quote>
                <totals>
                    <payumoneycharge>
                        <class>payumoneycharge/sales_quote_address_total_payumoneycharge</class>
                        <renderer>payumoneycharge/checkout_totals_payumoneycharge</renderer>
                        <admin_renderer>payumoneycharge/adminhtml_sales_order_create_totals_payumoneycharge</admin_renderer>
						<after>grand_total</after>
                    </payumoneycharge>
                </totals>
            </quote>
            <order_invoice>
                <totals>
                    <payumoneycharge>
                        <class>payumoneycharge/sales_order_total_invoice_payumoneycharge</class>
						<after>grand_total</after>
                    </payumoneycharge>
                </totals>
            </order_invoice>
            <order_creditmemo>
                <totals>
                    <payumoneycharge>
                        <class>payumoneycharge/sales_order_total_creditmemo_payumoneycharge</class>
						<after>grand_total</after>
                    </payumoneycharge>
                </totals>
            </order_creditmemo>
        </sales>
        <events>
            <paypal_prepare_line_items>
                <observers>
                    <paypal_prepare_line_items>
                        <class>payumoneycharge/observer</class>
                        <method>updatePaypalTotal</method>
                    </paypal_prepare_line_items>
                </observers>
            </paypal_prepare_line_items>
            <sales_order_invoice_save_after>
                <observers>
                    <sales_order_invoice_save_after>
                        <class>payumoneycharge/observer</class>
                        <method>invoiceSaveAfter</method>
                    </sales_order_invoice_save_after>
                </observers>
            </sales_order_invoice_save_after>
            <sales_order_creditmemo_save_after>
                <observers>
                    <sales_order_creditmemo_save_after>
                        <class>payumoneycharge/observer</class>
                        <method>creditmemoSaveAfter</method>
                    </sales_order_creditmemo_save_after>
                </observers>
            </sales_order_creditmemo_save_after>
	    </events>
		<fieldsets>
            <sales_convert_quote_address>
                <payumoneycharge_amount>
                    <to_order>*</to_order>
                </payumoneycharge_amount>
                <base_payumoneycharge_amount>
                    <to_order>*</to_order>
                </base_payumoneycharge_amount>
            </sales_convert_quote_address>
        </fieldsets>
        
        <pdf>
            <totals>
                <payumoneycharge translate="title">
                    <title>Payumoneycharge Fee</title>
                    <source_field>payumoneycharge_amount</source_field>
                    <font_size>7</font_size>
                    <display_zero>0</display_zero>
                    <sort_order>650</sort_order>
                    <amount_prefix></amount_prefix>
                </payumoneycharge>
            </totals>
        </pdf>
        <resources>
            <payumoneycharge_setup>
                <setup>
                    <module>Magentix_Payumoneycharge</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </payumoneycharge_setup>
        </resources>
        <models>
            <payumoneycharge>
                <class>Magentix_Payumoneycharge_Model</class>
            </payumoneycharge>
        </models>
        <blocks>
            <payumoneycharge>
                <class>Magentix_Payumoneycharge_Block</class>
            </payumoneycharge>
        </blocks>
        <helpers>
            <payumoneycharge>
                <class>Magentix_Payumoneycharge_Helper</class>
            </payumoneycharge>
        </helpers>
    </global>
    <frontend>
        <layout>
            <updates>
                <payumoneycharge>
                    <file>payumoneycharge.xml</file>
                </payumoneycharge>
            </updates>
        </layout>
    </frontend>

    <adminhtml>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<system>
							<children>
								<config>
									<children>
										<payumoneycharge>
											<title>payumoneycharge</title>
										</payumoneycharge>
									</children>
								</config>
							</children>
						</system>
					</children>
				</admin>
			</resources>
		</acl>
	    <layout>
            <updates>
                <payumoneycharge>
                    <file>payumoneycharge.xml</file>
                </payumoneycharge>
            </updates>
        </layout>
    </adminhtml>
    
</config>