<?xml version="1.0"?>
<config>
    <sections>
        <payment>
           
            <groups>
                <payucheckout_shared translate="label">
                    
                    <fields>
                        <payumoneychargechargepercentage translate="label">
                            <label>Payment charge(%)</label>
                            <frontend_type>text</frontend_type>
                            <comment>Enter the PayUmoney charge that will be calculted for cart subtotal.</comment>
							<validate>validate-number</validate>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </payumoneychargechargepercentage>
                    </fields>
					
                </payucheckout_shared>
            </groups>            
        </payment>
	</sections>
</config>