<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="EndToEnd">
    <listeners>
        <listener class-name="org.uncommons.reportng.HTMLReporter"></listener> 
        <listener class-name="GenericLibrary.ExtentReporterNG"></listener>                 
    </listeners>
        
 <!-- <test name="SanityTest_cartPage">
    <classes>
       <class name="SanityTest.ServiceChargeCalculation_KartPage_Test" />
    </classes>
  </test>  

  <test name="SanityTest_PaymentMethods">
    <classes>
       <class name="SanityTest.PaymentMethods_Verification_Test" />
    </classes>
  </test>
  
  <test name="SanityTest_MOQ_Verification">
    <classes>
       <class name="SanityTest.Product_MOQ_Verification_Test" />
    </classes>
  </test>  
-->  
  <test name="SanityTest_OrderIDVerification">
    <classes>
       <class name="SanityTest.OrderID_Verification_CashOnDelivery_Test" />
    </classes>
  </test>  

    
</suite> 

 	