<?xml version="1.0"?>
<config>
	<modules>
		<Nilaa_Opcheckout>
			<version>1.0</version>
		</Nilaa_Opcheckout>
	</modules>
	<frontend>
		<routers>
			<checkout>
				<!-- <use>standard</use> -->
				<args>
					<modules><opcheckout before="Mage_Checkout">Nilaa_Opcheckout</opcheckout></modules>
					<!-- <frontName>opcheckout</frontName> -->
				</args>
			</checkout>
		</routers>
	</frontend>
	<global>
		<blocks>
			<checkout>
				<rewrite>
					<onepage>Nilaa_Opcheckout_Block_Onepage</onepage>
				</rewrite>
			</checkout>
		</blocks>
	</global>
</config>